<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=800 initial-scale=1" />
    <meta name="description" content="Interactive world map for Tribal Wars 2">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/map.css" />
    <link rel="stylesheet" href="/stylesheets/flags.css" />
</head>
