<!DOCTYPE html>
<html lang="en">
    <%- include('./head.ejs') %>
    <body>
        <header></header>
        <%- include('./menu.ejs') %>

        <main class="content-border">
            <%- include('./navigation.ejs') %>

            <div class="content">
                <div class="single">
                    <section id="worlds">
                        <h1>Admin login</h1>

                        <form action="/login" method="POST">
                            <input type="password" name="password" placeholder="password">
                            <input type="submit" value="Login">
                            <input type="hidden" name="username" value="admin">
                        </form>
                    </section>
                </div>
            </div>
        </main>

        <%- include('./footer.ejs') %>

        <script defer type="text/javascript">
            document.querySelector('input[name=password]').focus()
        </script>
    </body>
</html>
