<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/map.css' />
        <!-- <link rel='stylesheet' href='/stylesheets/autoComplete.css' /> -->
        <script type="text/javascript">
            const marketId = '<%= marketId %>'
            const worldNumber = <%= worldNumber %>
            const development = <%= development %>
        </script>
    </head>
    <body>
        <div id="map-wrapper">
            <div id="side-panel">
                <input type="text" id="highlight-id" spellcheck="false" placeholder="search...">
                <ul id="highlight-items"></ul>
            </div>
            <div id="map"></div>
        </div>

        <div id="tooltip" class="box-border">
            <table>
                <colgroup>
                    <col width="50%">
                    <col width="50%">
                </colgroup>
                <tr>
                    <td>
                        <div>
                            <span class="icon village"></span>
                            <div>
                                <span class="title">Village</span>
                                <span class="village-name"></span> (<span class="village-x"></span> | <span class="village-y"></span>)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span class="icon points"></span>
                            <div>
                                <span class="title">Village Points</span>
                                <span class="village-points"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="icon player"></span>
                            <div>
                                <span class="title">Player Name</span>
                                <span class="player-name"></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span class="icon points"></span>
                            <div>
                                <span class="title">Player Points</span>
                                <span class="player-points"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="icon tribe"></span>
                            <div>
                                <span class="title">Tribe Name</span>
                                <span class="tribe-name"></span> (<span class="tribe-tag"></span>)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span class="icon tribe-points-x"></span>
                            <div>
                                <span class="title">Tribe Points</span>
                                <span class="tribe-points"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="color-picker" class="box-border">
            <span class="close"></span>
            <table></table>
        </div>

        <script type="text/javascript" src="/javascripts/utils.js"></script>
        <script type="text/javascript" src="/javascripts/autoComplete.js"></script>
        <script type="text/javascript" src="/javascripts/maps.js"></script>
    </body>
</html>
