<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/map.css' />
        <!-- <link rel='stylesheet' href='/stylesheets/autoComplete.css' /> -->
        <script type="text/javascript">
            const marketId = '<%= marketId %>'
            const worldNumber = <%= worldNumber %>
        </script>
    </head>
    <body>
        <div id="map-wrapper">
            <div id="side-panel">
                <div>
                    <input type="text" id="highlight-id" spellcheck="false">
                    <ul id="highlight-items"></ul>
                </div>
            </div>
            <div id="map"></div>
        </div>

        <div id="tooltip" style="display:none"></div>

        <script type="text/javascript" src="/javascripts/utils.js"></script>
        <script type="text/javascript" src="/javascripts/autoComplete.js"></script>
        <script type="text/javascript" src="/javascripts/maps.js"></script>
    </body>
</html>
