#sync .content-border {
    background: #ab80455e;
    padding: 5px;
}

#sync-summary p {
    margin: 0px;
}

#sync-summary label {
    width: 280px;
    display: inline-block;
    text-align: right;
}

#sync-summary .active {
    border: 1px solid #794929;
    border-radius: 2px;
    background: url(/images/noise.webp), linear-gradient(#8d5b39, #583f2d);
    box-shadow: inset 0 0 0 1px #47240e;
    color: #e0bfbf;
    padding: 0px 3px;
    text-shadow: 1px 1px 0px #000;
    margin: 0px 1px;
    cursor: default;
    font-size: 11px;
}

#sync-worlds .world {
    padding: 3px 5px;
    margin: 10px 5px;
    display: block;
}

#sync-worlds .world-id {
    font-weight: bold;
    vertical-align: top;
    margin-top: 2px;
    display: inline-block;
}

#sync-worlds .world p {
    margin: 0px;
}

#sync-worlds .world ul {
    margin: 5px 0px;
    padding: 0px;
}

#sync-worlds .world ul li {
    display: inline;
}

#sync-worlds .world .actions {
    margin: 8px 0px;
}

#sync-worlds .world .relax-button {
    color: #e0bfbf;
    text-decoration: none;
    margin: 5px;
    padding: 2px 4px;
    font-weight: normal;
}

#sync-worlds .world .in-progress {
    box-shadow: 0 0 0 1px green, inset 0 0 0 1px green, 2px 2px 2px #000;
    border-color: #88bb7b;
}

#sync-worlds .world .in-progress .relax-button {
    cursor: wait;
}

#sync-worlds .last-data-sync-date,
#sync-worlds .last-data-sync-status,
#sync-worlds .last-achievements-sync-date,
#sync-worlds .last-achievements-sync-status {
    font-weight: bold;
}

#sync-worlds .sync-in-progress {
    font-weight: bold;
    color: green;
}

#sync-worlds fieldset {
    border: 1px solid #b77b56;
    display: inline-block;
    min-width: 150px;
    border-left: none;
    border-bottom: none;
    padding: 0 3px;
}

@media (max-width: 860px) {
    #sync-worlds fieldset {
        display: block;
    }

    #sync-worlds .world-id {
        display: block;
    }
}
