
.flag {
    height: 12px;
    width: 18px;
    background: url(/images/flags.png) no-repeat top left;
    display: inline-block;
    vertical-align: top;
}

.flag-de {
    background-position: 0 -448px
}
.flag-en {
    background-position: 0 -64px
}
.flag-fr {
    background-position: 0 -704px
}
.flag-es {
    background-position: 0 -736px
}
.flag-it {
    background-position: 0 -640px
}
.flag-gr {
    background-position: 0 -96px
}
.flag-nl {
    background-position: 0 -32px
}
.flag-ro {
    background-position: 0 -320px
}
.flag-se {
    background-position: 0 -384px
}
.flag-cz {
    background-position: 0 -128px
}
.flag-pl {
    background-position: 0 -544px
}
.flag-hu {
    background-position: 0 -480px
}
.flag-sk {
    background-position: 0 -160px
}
.flag-dk {
    background-position: 0 -576px
}
.flag-no {
    background-position: 0 -512px
}
.flag-pt {
    background-position: 0 -192px
}
.flag-jp {
    background-position: 0 -1056px
}
.flag-ru {
    background-position: 0 -256px
}
.flag-br {
    background-position: 0 -352px
}
.flag-tr {
    background-position: 0 -672px
}
.flag-ch {
    background-position: 0 -416px
}
.flag-kr {
    background-position: 0 -224px
}
.flag-ae {
    background-position: 0 -800px
}
.flag-bg {
    background-position: 0 0
}
.flag-th {
    background-position: 0 -1088px
}
.flag-ba {
    background-position: 0 -608px
}
.flag-fi {
    background-position: 0 -768px
}
.flag-hr {
    background-position: 0 -992px
}
.flag-il {
    background-position: 0 -928px
}
.flag-lt {
    background-position: 0 -896px
}
.flag-si {
    background-position: 0 -864px
}
.flag-us {
    background-position: 0 -1120px
}
.flag-id {
    background-position: 0 -960px
}
.flag-uk {
    background-position: 0 -832px
}
.flag-ts {
    background-position: 0 -1024px
}
.flag-zz,
.flag-xx {
    background-position: 0 -1152px
}
.flag-ar {
    background-position: 0 -1217px
}
.flag-mx {
    background-position: 0 -1184px
}
