html {
    overflow: hidden;
}

body#map-page {
    width: 100%;
    max-width: initial;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 11px Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: relative;
}

input,
button {
    outline: none;
    font: 11px Arial, Helvetica, sans-serif;
}

a {
    color: #00B7FF;
    text-decoration: none;
    font-weight: bold;
}

#map-page header {
    background: initial;
    height: initial;
    width: initial;
    filter: initial;
    margin-top: 10px;
    margin-bottom: 10px;
}

#map-page header a {
    color: #ffeccc;
}

#map-page footer {
    margin: initial;
    padding: initial;
    background: initial;
    text-align: initial;
}

#map-page td,
#map-page th {
    text-align: initial;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

::placeholder {
    color: #333;
    text-shadow: none;
}

h1 {
    font-size: 14px;
}

h2 {
    font-size: 12px;
}

h3 {
    font-size: 11px;
}

h1, h2, h3 {
    text-shadow: 1px 1px 0px #000;
}

button {
    height: 22px;
    padding: 0px 3px;
    outline: none;
    cursor: pointer;
    color: #e0bfbf;
    text-shadow: 1px 1px 0px #000;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #794929;
    background: url(/images/noise.png), linear-gradient(#8d5b39, #583f2d);
    box-shadow: 0 0 0 1px #47240e,
                inset 0 0 0 1px #47240e,
                2px 2px 2px #000,
                inset -1px -1px 2px #000;
}

button:hover,
button:focus {
    background: url(/images/noise.png), linear-gradient(#af7046, #583f2d);
}

button.red {
    border-color: #923f32;
    background-image: linear-gradient(#bd4646, #7d1616);
}

button.red:hover,
button.red:focus {
    background-image: linear-gradient(#c75f5f, #7d1616);
}

.input {
    border-radius: 1px;
    border: 1px solid #8d5b39;
    background: url(/images/noise.png) #a07246;
    box-shadow: 0 0 0 1px #47240e,
                inset 0 0 0 1px #47240e,
                2px 2px 2px #000,
                inset 1px 1px 3px #00000095;
}

.input:focus-within {
    border: 1px solid #b17a55;
}

#map-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

#side-panel {
    width: 150px;
    flex-shrink: 0;
    height: 100%;
    box-shadow: 5px 0px 6px #00000080;
    z-index: 5;
    color: #ffeccc;
    background: url(/images/side-bar-left.jpg) left repeat-y,
                url(/images/side-bar-right.jpg) right repeat-y,
                url(/images/side-bar-middle.jpg),
                #413127;
    position: relative;
    float: left;
}

#map {
    touch-action: none;
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: #436213;
}

#panel-toggle {
    visibility: hidden;
    width: 22px;
    height: 50px;
    position: absolute;
    margin: auto;
    right: -28px;
    top: 0;
    bottom: 0;

    border-radius: 0px 5px 5px 0px;
    border: 1px solid #6b635e;
    background: url(/images/noise.png) #413127;
    box-shadow: 0 0 0 1px #47240e, inset 0 0 0 1px #47240e, 5px 0px 6px #00000080;
}

#panel-toggle:after,
#panel-toggle.hide:after {
    bottom: 0px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    color: #a59a8a;
    cursor: pointer;
}

#panel-toggle:after {
    content: '>';
}

#panel-toggle.hide:after {
    content: '<';
}

#quick-jump {
    margin-top: 5px;
    margin-bottom: 5px;
}

#quick-jump-coords {
    margin-left: 4px;
    color: #6d4f32;
    width: 86px;
    height: 18px;
    padding-top: 2px;
    padding-bottom: 0px;
    font-weight: bold;
    position: relative;
    text-align: center;
    display: inline-block;
}

#quick-jump-x,
#quick-jump-y {
    border: none;
    width: 24px;
    background: none;
    text-align: center;
    padding: 0px;
    padding-top: 2px;
    text-shadow: 0px 0px 1px #00000070;
}

#quick-jump-go {
    font-size: 11px;
    margin-left: 2px;
    outline: none;
    cursor: pointer;
    width: 42px;
    display: inline-block;
    vertical-align: top;
}



#highlights {
    height: calc(100% - 170px);
}

#highlight-id {
    margin-left: 4px;
    width: 117px;
    height: 18px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    text-shadow: 0px 0px 1px #00000070;
}

#highlights-title {
    text-align: center;
    padding: 0 2px;
}

#highlight-items {
    width: calc(100% - 11px);
    margin-top: 5px;
    margin-left: 2px;
    text-shadow: 1px 1px 0px #000;
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #806753 transparent;
}

#highlight-items .item {
    line-height: 16px;
    height: 26px;
}

#highlight-items .item.tribes {
    order: 1;
}

#highlight-items .item.players {
    order: 2;
}

#highlight-items .item .name {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 96px;
    cursor: pointer;
}

#highlight-items .item .name:hover {
    color: #f3a859;
}

#highlight-items .item .color {
    padding: 1px;
    margin-top: 5px;
    margin-right: 3px;
    float: right;
    width: 11px;
    height: 10px;
    position: relative;
    border-radius: 1px;
    border: 1px solid #8d5b39;
    background: url(/images/noise.png) #a07246;
    box-shadow: 0 0 0 1px #47240e,
                inset 0 0 0 1px #47240e,
                1px 1px 2px #000;
    cursor: pointer;
}

#highlight-items .item .villages {
    width: 100%;
    color: #bdaa89;
    line-height: 0px;
    padding-left: 19px;
    font-size: 9px;
}

#highlight-items .item .color:hover {
    box-shadow: 0 0 0 1px #47240e, inset 0 0 0 1px #d8bfb0;
}

#highlight-items .item .icon-players {
    background: url(/images/player.png) left center no-repeat;
    padding-left: 17px;
}

#highlight-items .item .icon-tribes {
    background: url(/images/tribe.png) left center no-repeat;
    padding-left: 17px;
}

#highlight-items::-webkit-scrollbar {
    width: 6px;
}

#highlight-items::-webkit-scrollbar-track {
  background: transparent;
}

#highlight-items::-webkit-scrollbar-thumb {
  background-color: #806753;
}

#side-panel footer {
    position: absolute;
    bottom: 0px;
}


#map-share-wrapper {
    margin-bottom: 10px;
}

#map-share,
#map-save {
    width: 136px;
    margin-left: 3px;
    margin-top: 5px;
    font-size: 11px;
    display: block;
}

#map-share .hidden,
#map-save .hidden {
    display: none;
}

.mini-icon {
    width: 12px;
    height: 12px;
    line-height: 12px;
    display: inline-block;
    left: 0px;
    top: 0px;
    vertical-align: top;
    background-size: 12px;
    margin-top: 1px;
}

.mini-icon.village {
    background-image: url(/images/village-icon.png);
}

.mini-icon.points {
    background-image: url(/images/points-icon.png);
}

#color-picker {
    visibility: hidden;
    opacity: 0;

    border-collapse:separate;
    display:inline-block;
    border-spacing:1px;
    transition: opacity .2s;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    
    background: url(/images/tooltip-background.png) #d0ac86;
}

#color-picker td {
    padding:0;
    border:1px solid #000;
}

#color-picker .color {
    display:inline-block;
    float:left;
    margin:1px;
    width:20px;
    height:20px;
}

#color-picker .active {
    box-shadow: inset 0px 0px 0px 1px #00ff0080,
                inset 0px 0px 0px 2px #00000080,
                inset 0px 0px 0px 3px #00ff0080,
                inset 0px 0px 0px 4px #00000080;
}

div.text-container {
    border-radius: 1px;
    border: 1px solid #6b635e;
    background: url(/images/noise.png) #413127;
    box-shadow: 0 0 0 1px #47240e,
                inset 0 0 0 1px #47240e,
                2px 2px 2px #000;
    padding: 2px 6px;
}

#map-info {
    position: absolute;
    bottom: 5px;
    margin-left: 5px;
    z-index: 10;
    color: #a59a8a;
    text-shadow: 1px 1px 0px #00000090;
}

#map-info .hidden {
    display: none;
}

#map-info > div {
    margin: 4px 0px;
    display: inline-block;
    clear: both;
    float: left;
}

#world-name {
    text-align: center;
    padding: 0 2px;
}

#current-world {
    margin-left: 4px;
    width: 60px;
}

#all-worlds {
    position: absolute;
    width: 200px;
    background: url(/images/noise.png) #6f4327;
    color: #ffeccc;
    padding: 3px;
    text-shadow: 1px 1px 0px #00000090;
    z-index: 7;
    transition: visibility 0.02s linear, opacity 0.02s linear;
    box-shadow: 0 0 0 1px #000, 0 0 0 2px #5e351b, 0 0 0 4px #000, 2px 2px 5px 5px #00000095;
    border: 1px solid #5e351b;
    border-radius: 1px;
}

#all-worlds.hidden {
    visibility: hidden;
    opacity: 0;
}

#all-worlds a {
    text-decoration: none;
}

#all-worlds h2 {
    width: 100%;
    text-align: center;
    margin: 5px;
}

#all-market-worlds {
    width: 67%;
    float: left;
}

#all-market-worlds .world {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    max-width: 131px;
    margin: 5px 1px;
    padding: 0 5px;
}

#all-market-worlds .world.selected {
    background: url(/images/noise.png), linear-gradient(#6d5546, #422612);
    border-color: #8a6d58;
    font-weight: bold;
}

#all-markets {
    width: 30%;
    float: left;
    margin-right: 5px;
}

#all-markets li {
    cursor: pointer;
}

#all-markets div.market {
    height: 14px;
    text-align: center;
    margin: 3px 2px;
}

#all-markets div.market.selected {
    background: #6d5546;
    border-color: #b18e76;
}

#all-markets li:hover {
    background: #865333;
}

#change-settings {
    margin-left: 2px;
    width: 70px;
}

#settings {
    position: absolute;
    width: 160px;
    background: url(/images/noise.png) #6f4327;
    color: #e0bfbf;
    padding: 3px;
    text-shadow: 1px 1px 0px #00000090;
    z-index: 7;
    transition: visibility 0.02s linear, opacity 0.02s linear;
    box-shadow: 0 0 0 1px #000, 0 0 0 2px #5e351b, 0 0 0 4px #000, 2px 2px 5px 5px #00000095;
    border: 1px solid #5e351b;
    border-radius: 1px;
}

#settings.hidden {
    visibility: hidden;
    opacity: 0;
}

#settings .color-option {
    display: block;
    padding: 2px 0px;
}

#settings .color {
    float: right;
    display: inline-block;
    padding: 1px;
    width: 11px;
    height: 10px;
    position: relative;
    border-radius: 1px;
    border: 1px solid #8d5b39;
    background: url(/images/noise.png) #a07246;
    box-shadow: 0 0 0 1px #47240e,
                inset 0 0 0 1px #47240e,
                1px 1px 2px #000;
    cursor: pointer;
    vertical-align: top;
}

#settings .color:hover {
    box-shadow: 0 0 0 1px #47240e, inset 0 0 0 1px #d8bfb0;
}

.autoComplete_highlighted {
    font-weight: bold;
}

#autoComplete_list {
    color: #000;
    line-height: 15px;
    background: url(/images/noise-3.png) top left #ceab84;
    box-shadow: inset 0 0 0 1px #533a1f,
                inset 0 0 0 2px #dcba94,
                5px 5px 5px #00000080;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px;
    width: 130px;
    position: fixed;
    margin: 0;
    margin-left: 4px;
    margin-top: 4px;
    z-index: 10;
}

#autoComplete_list:empty {
    display: none;
}

#autoComplete_list li {
    cursor: pointer;
}

#autoComplete_list li:hover {
    color: #824300;
    background-color: #f4dec666;
}

#autoComplete_list li.autoComplete_selected {
    color: #824300;
    background-color: #f4dec666;
}

#notif {
    position: absolute;
    bottom: 40px;
    right: 40px;
    min-width: 300px;
    max-width: 400px;
    max-height: 200px;
    padding-bottom: 10px;
    z-index: 15;
    border-radius: 1px;
    border: 1px solid #6b635e;
    background: url(/images/noise.png) #351908;
    box-shadow: 0 0 0 1px #47240e,
                inset 0 0 0 1px #47240E,
                2px 2px 5px #000,
                inset 3px 3px 2px #ffffff10,
                inset -3px -3px 2px #00000010;
    padding: 2px 6px;
    color: #ffeccc;
    text-shadow: 1px 1px 0px #00000090;


    transition: visibility 0.1s linear,
                opacity 0.1s linear,
                right 0.15s ease-out;
}

#notif-wrapper {
    margin: 5px;
}

#notif.hidden {
    visibility: hidden;
    opacity: 0;
    right: -240px;
}

#notif-link.hidden,
#notif-content.hidden {
    display: none;
}

#notif-content {
    text-align: center;
    word-break: break-word;
    margin: 0px;
}

#notif-title {
    font-size: 13px;
    text-align: center;
    margin: 3px;
    text-shadow: 1px 1px 3px #000;
    border-bottom: 1px solid #ffeccc50;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

#notif-link {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 2px;
    word-break: break-word;
}

#notif-close {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 11px;
    height: 11px;
    background: url(/images/close.png);
    display: inline-block;
    cursor: pointer;
}

#site-info {
    font-size: 9px;
    text-align: center;
    margin-bottom: 5px;
}

#site-info p {
    margin: 2px 0px;
}

#site-info a {
    cursor: pointer;
}

.loading {
    margin: auto;
    text-align: center;
}

.loading.hidden {
    display: none;
}

.loading > div {
    width: 10px;
    height: 10px;
    background-color: #9b724a;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1s infinite ease-in-out both;
}

.loading .b1 {
    animation-delay: -0.25s;
}

.loading .b2 {
    animation-delay: -0.1s;
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0);
    } 40% { 
        transform: scale(1.0);
    }
}

@media (max-width: 800px) {
    html {
        font-size: 12px;
    }

    #panel-toggle {
        visibility: visible;
    }

    #side-panel.hidden {
        margin-left: -150px;
    }

    #map.full {
        margin-left: 0px;
    }

    #color-picker {
        transform: initial !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 366px;
        height: 132px;
    }
}
