html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 11px Arial, Helvetica, sans-serif;
    overflow: hidden;
}

input,
button {
    outline: none;
    font: 11px Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

::placeholder {
    color: #333;
    text-shadow: none;
}

button {
    height: 22px;
    padding: 0px 3px;
    outline: none;
    cursor: pointer;
    color: #e0bfbf;
    text-shadow: 1px 1px 0px #000;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #794929;
    background: url(/images/noise.png), linear-gradient(#8d5b39, #583f2d);
    box-shadow: 0 0 0 1px #47240e,
                inset 0 0 0 1px #47240e,
                2px 2px 2px #000,
                inset -1px -1px 2px #000;
}

button:hover,
button:focus {
    background: url(/images/noise.png), linear-gradient(#af7046, #583f2d);
}

button.red {
    border-color: #923f32;
    background-image: linear-gradient(#bd4646, #7d1616);
}

button.red:hover,
button.red:focus {
    background-image: linear-gradient(#c75f5f, #7d1616);
}

.input {
    border-radius: 1px;
    border: 1px solid #8d5b39;
    background: url(/images/noise.png) #a07246;
    box-shadow: 0 0 0 1px #47240e,
                inset 0 0 0 1px #47240e,
                2px 2px 2px #000,
                inset 1px 1px 3px #00000095;
}

.input:focus-within {
    border: 1px solid #b17a55;
}

#map-wrapper {
    display: flex;
    flex-flow: row;
    height: 100%;
}

#map {
    flex: 1 1 auto;
    user-select: none;
    background-color: #436213;
}

#side-panel {
    flex: 0 0 125px;
    box-shadow: 5px 0px 6px #00000080;
    z-index: 5;
    color: #ffeccc;
    background: url(/images/side-bar.jpg) repeat-y #413127;
    position: relative;
}




#quick-jump {
    margin-top: 5px;
    margin-bottom: 5px;
}

#quick-jump-coords {
    margin-left: 4px;
    color: #6d4f32;
    width: 69px;
    height: 18px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: bold;
    position: relative;
    float: left;
    text-align: center;
}

#quick-jump-x,
#quick-jump-y {
    border: none;
    width: 22px;
    background: none;
    text-align: center;
    padding: 0px;
    padding-top: 2px;
    text-shadow: 0px 0px 1px #00000070;
}

#quick-jump-go {
    float: left;
    font-size: 11px;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
    width: 27px;
}




#highlight-id {
    margin-left: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 101px;
    height: 18px;
    padding-left: 3px;
    padding-right: 3px;
    position: relative;
    text-shadow: 0px 0px 1px #00000070;
}

#highlight-items {
    width: 90%;
    margin-top: 5px;
    margin-left: 2px;
    text-shadow: 1px 1px 0px #000;
    display: flex;
    flex-direction: column;
}

#highlight-items .item {
    line-height: 16px;
}

#highlight-items .item.tribes {
    order: 1;
}

#highlight-items .item.players {
    order: 2;
}

#highlight-items .item .name {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 97px;
    cursor: pointer;
}

#highlight-items .item .name:hover {
    color: #f3a859;
}

#highlight-items .item .color {
    display: inline-block;
    padding: 1px;
    width: 11px;
    height: 10px;
    position: relative;
    border-radius: 1px;
    border: 1px solid #8d5b39;
    background: url(/images/noise.png) #a07246;
    box-shadow: 0 0 0 1px #47240e,
                inset 0 0 0 1px #47240e,
                1px 1px 2px #000;
    cursor: pointer;
}

#highlight-items .item .color:hover {
    box-shadow: 0 0 0 1px #47240e, inset 0 0 0 1px #d8bfb0;
}

#highlight-items .item .icon-players {
    background: url(/images/player.png) left center no-repeat;
    padding-left: 19px;
}

#highlight-items .item .icon-tribes {
    background: url(/images/tribe.png) left center no-repeat;
    padding-left: 19px;
}





#map-share-wrapper {
    position: absolute;
    bottom: 5px;
}

#map-share,
#map-save {
    margin-left: 3px;
    width: 52px;
    font-size: 11px;
}





#tooltip {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: opacity .2s;
    width: 360px;
    z-index: 5;
    padding: 3px;
    top: 0px;
    left: 0px;
    margin-top: 3px;
    background: url(/images/tooltip-background.png) #d0ac86;
}

#tooltip table {
    width: 100%;
    border-spacing: 1px;
    border-collapse: separate;
    box-shadow: 0 0 0 2px #7c360066;
    background: url(/images/tooltip-background-2.png) #d1ad86;
}

#tooltip td {
    border: 1px solid #7c36004d;
    box-shadow: none;
    background: url(/images/tooltip-background-2.png) #c39c72;
    padding: 1px;
}

#tooltip td > div {
    padding-left: 30px;
    position: relative;
}

#tooltip .title {
    display: block;
    color: #00000095;
}

#tooltip.left {
    left: -380px;
}

#tooltip.top {
    top: -120px;
}

#tooltip span,
#tooltip div {
    white-space: nowrap;
}

#tooltip .village-name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 54px);
    display: inline-block;
    vertical-align: top;
}






.icon {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 2px;
    display: inline-block;
    border: 1px solid #2b2121;
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(#02030373, #02030300),
                url(/images/background_noise_icon_black.png);
}

.icon:before {
    content: ' ';
    display: inline-block;
    width: 24px;
    height: 24px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
}

.icon.village:before {
    background-image: url(/images/village-icon.png);
}

.icon.player:before {
    background-image: url(/images/player-icon.png);
}

.icon.tribe:before {
    background-image: url(/images/tribe-icon.png);
}

.icon.tribe-points-x:before {
    background-image: url(/images/tribe-points-icon.png);
}

.icon.points:before {
    background-image: url(/images/points-icon.png);
}





.box-border {
    box-shadow: inset 0 0 0 1px #45505c, 0 0 0 1px #000, 0 0 0 2px #5e351b, 0 0 0 4px #000;
    border: 1px solid #5e351b;
    border-radius: 1px;
}



#color-picker {
    visibility: hidden;
    opacity: 0;

    border-collapse:separate;
    display:inline-block;
    border-spacing:1px;
    transition: opacity .2s;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    
    background: url(/images/tooltip-background.png) #d0ac86;
}

#color-picker td {
    padding:0;
    border:1px solid #000;
}

#color-picker .color {
    display:inline-block;
    float:left;
    margin:1px;
    width:20px;
    height:20px;
}

#color-picker .active {
    box-shadow: inset 0px 0px 0px 1px #00ff0080,
                inset 0px 0px 0px 2px #00000080,
                inset 0px 0px 0px 3px #00ff0080,
                inset 0px 0px 0px 4px #00000080;
}

div.text-container {
    border-radius: 1px;
    border: 1px solid #6b635e;
    background: url(/images/noise.png) #413127;
    box-shadow: 0 0 0 1px #47240e,
                inset 0 0 0 1px #47240e,
                2px 2px 2px #000;
    padding: 2px 6px;
}


#last-sync {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 10;
    color: #a59a8a;
    text-shadow: 1px 1px 0px #00000090;
}

#last-sync.hidden {
    display: none;
}

#share-date {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 10;
    color: #a59a8a;
    text-shadow: 1px 1px 0px #00000090;
}

#share-date.hidden {
    display: none;
}

#display-position {
    position: absolute;
    left: 128px;
    bottom: 5px;
    z-index: 10;
    color: #a59a8a;
    text-shadow: 1px 1px 0px #00000090;
}

header {
    margin-top: 10px;
    margin-bottom: 10px;
}

header h1 {
    font-size: 13px;
    width: 114px;
    text-align: center;
    padding: 0 2px;
    text-shadow: 1px 1px 0px #000;
}

#current-world {
    margin-left: 4px;
    width: 55px;
}

#current-world .flag {
    margin-top: 1px;
}

#all-worlds {
    position: absolute;
    width: 200px;
    background: url(/images/noise.png) #6f4327;
    color: #e0bfbf;
    padding: 3px;
    text-shadow: 1px 1px 0px #00000090;
    z-index: 7;
    transition: visibility 0.02s linear, opacity 0.02s linear;
    box-shadow: 0 0 0 1px #000, 0 0 0 2px #5e351b, 0 0 0 4px #000, 2px 2px 5px 5px #00000095;
    border: 1px solid #5e351b;
    border-radius: 1px;
}

#all-worlds.hidden {
    visibility: hidden;
    opacity: 0;
}

#all-worlds a {
    text-decoration: none;
}

#all-market-worlds {
    width: 70%;
    float: left;
}

#all-market-worlds .world {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    max-width: 134px;
    margin: 5px 1px;
    padding: 0 5px;
}

#all-market-worlds .world.selected {
    background: url(/images/noise.png), linear-gradient(#6d5546, #422612);
    border-color: #8a6d58;
    font-weight: bold;
}

#all-markets {
    width: 30%;
    float: left;
}

#all-markets li {
    cursor: pointer;
}

#all-markets div.market {
    padding: 1px 0px;
    text-align: center;
    margin: 3px 2px;
}

#all-markets div.market.selected {
    background: #6d5546;
    border-color: #b18e76;
}

#all-markets li:hover {
    background: #865333;
}



#change-settings {
    margin-left: 2px;
    width: 49px;
}

#settings {
    position: absolute;
    width: 160px;
    background: url(/images/noise.png) #6f4327;
    color: #e0bfbf;
    padding: 3px;
    text-shadow: 1px 1px 0px #00000090;
    z-index: 7;
    transition: visibility 0.02s linear, opacity 0.02s linear;
    box-shadow: 0 0 0 1px #000, 0 0 0 2px #5e351b, 0 0 0 4px #000, 2px 2px 5px 5px #00000095;
    border: 1px solid #5e351b;
    border-radius: 1px;
}

#settings.hidden {
    visibility: hidden;
    opacity: 0;
}

#settings .color-option {
    display: block;
    padding: 2px 0px;
}

#settings .color {
    float: right;
    display: inline-block;
    padding: 1px;
    width: 11px;
    height: 10px;
    position: relative;
    border-radius: 1px;
    border: 1px solid #8d5b39;
    background: url(/images/noise.png) #a07246;
    box-shadow: 0 0 0 1px #47240e,
                inset 0 0 0 1px #47240e,
                1px 1px 2px #000;
    cursor: pointer;
    vertical-align: top;
}

#settings .color:hover {
    box-shadow: 0 0 0 1px #47240e, inset 0 0 0 1px #d8bfb0;
}



.autoComplete_highlighted {
    font-weight: bold;
}

#autoComplete_list {
    color: #000;
    line-height: 15px;
    background: url(/images/bg2.png) top left #ceab84;
    box-shadow: inset 0 0 0 1px #533a1f,
                inset 0 0 0 2px #dcba94,
                5px 5px 5px #00000080;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px;
    width: 107px;
    position: fixed;
    margin: 0;
    margin-left: 3px;
    margin-top: 4px;
    z-index: 10;
}

#autoComplete_list:empty {
    display: none;
}

#autoComplete_list li {
    cursor: pointer;
}

#autoComplete_list li:hover {
    color: #824300;
    background-color: #f4dec666;
}

#autoComplete_list li.autoComplete_selected {
    color: #824300;
    background-color: #f4dec666;
}








#notif {
    position: absolute;
    bottom: 40px;
    right: 40px;
    min-width: 200px;
    max-width: 400px;
    max-height: 200px;
    padding-bottom: 10px;
    z-index: 15;
    border-radius: 1px;
    border: 1px solid #6b635e;
    background: url(/images/noise.png) #351908;
    box-shadow: 0 0 0 1px #47240e,
                inset 0 0 0 1px #47240E,
                2px 2px 5px #000,
                inset 3px 3px 2px #ffffff10,
                inset -3px -3px 2px #00000010;
    padding: 2px 6px;
    color: #ffeccc;
    text-shadow: 1px 1px 0px #00000090;


    transition: visibility 0.1s linear,
                opacity 0.1s linear,
                right 0.15s ease-out;
}

#notif-wrapper {
    margin: 5px;
}

#notif.hidden {
    visibility: hidden;
    opacity: 0;
    right: -240px;
}

#notif-link.hidden,
#notif-content.hidden {
    display: none;
}

#notif-content {
    word-break: break-word;
    margin: 0px;
}

#notif-title {
    font-size: 13px;
    text-align: center;
    margin: 3px;
    text-shadow: 1px 1px 3px #000;
    border-bottom: 1px solid #ffeccc50;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

#notif-link {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 2px;
    word-break: break-word;
}

#notif-close {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 11px;
    height: 11px;
    background: url(/images/close.png);
    display: inline-block;
    cursor: pointer;
}

.loading {
    margin: auto;
    text-align: center;
}

.loading.hidden {
    display: none;
}

.loading > div {
    width: 10px;
    height: 10px;
    background-color: #9b724a;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1s infinite ease-in-out both;
}

.loading .bounce1 {
    animation-delay: -0.25s;
}

.loading .bounce2 {
    animation-delay: -0.1s;
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0);
    } 40% { 
        transform: scale(1.0);
    }
}
