html {
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    background: url(/images/background-scene.webp) top no-repeat, url(/images/noise-2.png), #88785F;
    margin: 0px;
}

body {
    width: 1000px;
    margin: auto;
    padding: 10px;
}

code {
    background: #00000050;
    padding: 3px;
    border-radius: 3px;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    height: 230px;
    background: url(/images/banner.png) no-repeat center;
    margin-bottom: 10px;
}

menu {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.content-border {
    box-shadow: 0 0 0 1px #00000090, 0 0 0 2px #5e351b, 0 0 0 5px #00000080, 2px 2px 5px 5px #00000095;
    border: 1px solid #5e351b;
    border-radius: 1px;
}

menu li {
    width: 100px;
    margin: 15px 10px;
    display: inline-block;
    background: url(/images/noise.png), #e8d5a5;
    padding: 10px;
    text-align: center;
}

main {
    height: 1000px;
    margin: 0 auto;
    background: url(/images/noise.png),
                url(/images/content-border-left.webp) left repeat-y,
                url(/images/content-border-right.webp) right repeat-y,
                url(/images/content-border-top.webp) top repeat-x,
                url(/images/content-border-bottom.webp) bottom repeat-x,
                #e8d5a5;
    padding: 10px;
}

div.modal {
    width: 630px;
    margin: 0 auto;
    background: url(/images/noise.png) #6f4327;
    color: #e0bfbf;
    padding: 3px;
    text-shadow: 1px 1px 0px #00000090;
    z-index: 7;
    transition: visibility 0.02s linear, opacity 0.02s linear;
}
