<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>
    <body>
        <header id="main-header"></header>
        <%- include('menu.ejs') %>

        <main class="content-border">
            <h1>Something went wrong</h1>
            <p><strong>Error <%= locals.status %></strong></p>
            <p><pre><%= locals.error %></pre></p>

            <p>If you believe you shouldn't been seing this page, send a message to us <code><a href="mailto:contact@tw2-tracker.com">contact@tw2-tracker.com</a></code></p>
        </main>
    </body>
</html>
