<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
  </head>
  <body>
    <header></header>
    <!-- <menu>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
    </menu> -->
    <main class="content-border">
        <p>Welcome to <%= title %></p>
    </main>
  </body>
</html>
