<nav id="main-menu">
    <div class="left">
        <a href="/"><%= i18n.main_menu.home %></a>
        <a href="https://www.paypal.com/donate/?hosted_button_id=6R95QYGKFNLCE"><span class="icon icon-heart"></span> <%= i18n.main_menu.donate %></a>
        <a href="https://discord.gg/UwQ32D3t5p"><span class="icon icon-discord"></span> <%= i18n.main_menu.discord %></a>
    </div>

    <div class="right">
        <a href="/lang" class="language-change red"><span class="flag-en"><%= i18n.main_menu.lang %></span></a>
    </div>
</nav>
