<script defer type="text/javascript" src="/javascripts/notice.js"></script>

<div id="notice">
    <div id="notice-modal" class="section-content">
        <p>Dear players,</p>
        <p>The "Tribal Wars 2 Team" decided to make a statement. I have so many things to say.</p>
        <p>First line, first joke. They "separate" themselves from our project? They never came to us, provided us anything, or even tried to help us in the slightliest. The only thing we got was a canceled appointment that was never rescheduled.</p>
        <p>Tw2-Tracker was indeed developed by Relaxeaza, it was stated on every document we provided the TW2 Team, and it was even clearly said on the site, as the footer says so:</p>
        <img src="/footer.png"/>
        <p>It was stated everywhere, and Innogames was aware of that.</p>
        <p>So I will be helping you to understand a simple fact here: Tw2-Tracker isn’t TWOVERFLOW.</p>
        <p>Our tracker account doesn’t extract, store or use any private data from players. The account itself is just here to read the world as any player could do: it opens the ranking, it stores the ranking.</p>
        <p>To prove this point, the code of the site will be open-source and publicly published.</p>
        <p>Tribal Wars 2 started in 2014. Finally working on an API. Congratulations! Maybe fan-project will finally get to do something instead of going for workarounds that you allowed as long as it was discreet and unofficial.</p>
        <p>But hey, TW2 Team… are you not trying to blacklist us because 2 months ago we officially said we are working on our very own game ?</p>
        <p>Tw2-tracker will remain online, and workarounds will be found as long as this API and Innogame’s tracker site will be up and functional. </p>
        <p>Hopefully you release it quicker than the fortresses, Innogames !</p>
        <p>You can open the attached pdf by clicking on the button below, to know more about the behind scene. Have fun !</p>
        <cite>- Zakhiel</cite>

        <footer>
            <a class="relax-button" href="/Tw2Tracker-Statement.pdf">Open Tw2Tracker-Statement.pdf</a>
            <button id="notice-dismiss" class="relax-button red">Dismiss</button>
        </footer>
    </div>
</div>
