#sync-summary {
    position: sticky;
    top: 0px;
}

#admin .section-content {
    padding: 5px;
}

#sync-summary .summary-block {
    margin: 10px 0px;
}

#sync-summary .summary-block label {
    font-weight: bold;
    display: block;
}

#sync-summary .value {
    font-weight: bold;
}

.world-label {
    border: 1px solid hsl(24, 49%, 32%);
    border-radius: 2px;
    background: url(/images/noise.webp), var(--bg-button);
    box-shadow: inset 0 0 0 1px hsl(23, 67%, 17%);
    color: hsl(0, 35%, 81%);
    padding: 0px 3px;
    text-shadow: 1px 1px 0px hsl(0, 0%, 0%);
    margin: 1px 1px;
    cursor: default;
    display: inline-block;
}

#sync-panel ul {
    margin: 5px 0px;
    padding: 0px;
}

#sync-worlds .world-id {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

#sync-worlds .values {
    display: inline-block;
}

#sync-worlds .world p {
    margin: 0px;
}

#sync-worlds .world ul {
    margin: 5px 0px;
    padding: 0px;
}

#sync-worlds .world ul li {
    display: inline;
}

#sync-worlds .world .in-progress {
    box-shadow: 0 0 0 1px green, inset 0 0 0 1px green, 2px 2px 2px hsl(0, 0%, 0%);
    border-color: hsl(108, 32%, 61%);
}

#sync-worlds .relax-button {
    margin: 5px;
}

#sync-worlds .relax-button.disabled {
    cursor: wait;
}

#sync-worlds .sync-status {
    font-weight: bold;
}

#sync-worlds .field {
    
}

#sync-worlds .type {
}

#sync-worlds .world {
    flex-wrap: wrap;
    margin: 7px 3px;
}

#sync-worlds .world > * {
    width: 100%;
}

#accounts p span {
    display: inline-block;
    width: 10%;
    text-align: right;
}

#accounts .relax-container > * {
    width: 100%;
}

#admin .actions {
    display: flex;
}


#admin .actions .relax-button.right {
    margin-left: auto;
}

#admin section .content-border {
    padding: 5px;
    background: var(--color-content);
}

#admin .world-container {
    padding: 3px 5px;
    margin: 10px 5px;
    display: block;
}

.align-checkbox label {
    display: inline-block;
    padding-right: 10px;
    padding-left: 22px;
    text-indent: -22px;
}

.align-checkbox input {
    vertical-align: middle;
}

.align-checkbox label span {
    vertical-align: middle;
}

#admin .relax-input {
    width: 80%;
    font-family: monospace;
}

#admin form label.input {
    display: block;
    margin: 5px 0px;
}

#admin form label.input span {
    display: inline-block;
    width: 50px;
    text-align: right;
}

#settings fieldset {
    margin: 5px 0px;
}

#settings fieldset legend {
    font-size: 1.2em;
    margin-left: -10px;
}

#settings .setting {
    margin: 5px 0px;
}

#settings label {
    display: block;
}

#settings input,
#settings select {
    outline: none;
    margin: 5px 0px;
    max-width: 50%;
}

@media (max-width: 860px) {
    #sync-worlds fieldset {
        display: block;
    }
}
