html {
    font-size: 11px;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    max-width: initial;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

a {
    color: hsl(0, 35%, 80%);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: hsl(0, 35%, 90%);
}

a:hover {
    text-decoration: underline;
}

::placeholder {
    color: hsl(0, 0%, 20%);
    opacity: 0.7;
    text-shadow: none;
}

h1, h2, h3 {
    text-shadow: 1px 1px 0px hsl(0, 0%, 0%);
}

button {
    background: url(/images/noise.png), linear-gradient(hsl(24, 42%, 39%), hsl(25, 32%, 26%));
    border-color: hsl(24, 49%, 32%);
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 67%, 17%), 2px 2px 2px hsl(0, 0%, 0%), inset -1px -1px 2px hsl(0, 0%, 0%);
    color: hsl(0, 35%, 81%);
    cursor: pointer;
    height: 22px;
    outline: none;
    padding: 0px 3px;
    text-shadow: 1px 1px 0px hsl(0, 0%, 0%);
}

button:hover,
button:focus {
    background: url(/images/noise.png), linear-gradient(hsl(24, 43%, 48%), hsl(25, 32%, 26%));
}

button.red {
    background-image: linear-gradient(hsl(0, 47%, 51%), hsl(0, 70%, 29%));
    border-color: hsl(8, 49%, 38%);
}

button.red:hover,
button.red:focus {
    background-image: linear-gradient(hsl(0, 48%, 58%), hsl(0, 70%, 29%));
}

table {
    background: url(/images/noise.png) hsl(23, 48%, 29%);
    border-spacing: 0px;
    width: 100%;
}

th {
    background: url(/images/noise.png) hsl(23, 48%, 29%);
}


tr:nth-child(even) {
    background: inherit;
}

tr:nth-child(odd) {
    background: url(/images/noise.png) hsl(23, 48%, 32%);
}

table tbody tr:hover td {
    background: url(/images/noise.png) hsl(23, 48%, 38%);
}

td, th {
    height: 20px;
    margin: 0px;
    text-align: center;
    white-space: nowrap;
}

td {
    border-bottom: 1px solid hsl(23deg 42% 27%);
    border-top: none;
}

th {
    border: none;
}

tr:last-child td {
}

th a,
th a:hover {
    color: inherit;
}

th {
    background: hsl(0 0% 0% / 20%);
    padding: 5px 0px;
}

.text-container {
    background: url(/images/noise.png) hsl(23, 25%, 20%);
    border-radius: 1px;
    border: 1px solid hsl(23, 6%, 39%);
    box-shadow: 0px 0px 0px 1px hsl(23, 67%, 17%), inset 0px 0px 0px 1px hsl(23, 67%, 17%), 2px 2px 2px hsl(0, 0%, 0%);
    padding: 2px 6px;
}

.input {
    background: url(/images/noise.png) hsl(29, 39%, 45%);
    border-radius: 1px;
    border: 1px solid hsl(24, 42%, 39%);
    box-shadow: 0px 0px 0px 1px hsl(23, 67%, 17%), inset 0px 0px 0px 1px hsl(23, 67%, 17%), 2px 2px 2px hsl(0, 0%, 0%), inset 1px 1px 3px hsla(0, 0%, 0%, 95%);
}

.input:focus-within {
    border: 1px solid hsl(24, 37%, 51%);
}

.icon-players {
    background: url(/images/player.png) left center no-repeat;
    padding-left: 17px;
}

.icon-tribes {
    background: url(/images/tribe.png) left center no-repeat;
    padding-left: 20px;
}

.mini-icon {
    background-size: 12px;
    display: inline-block;
    height: 12px;
    left: 0px;
    line-height: 12px;
    margin-top: 1px;
    top: 0px;
    vertical-align: top;
    width: 12px;
}

.mini-icon.village {
    background-image: url(/images/village-icon.png);
}

.mini-icon.points {
    background-image: url(/images/points-icon.png);
}

.floating-modal {
    background: url(/images/noise.png) hsl(23, 48%, 29%);
    border-radius: 1px;
    border: 1px solid hsl(23, 55%, 24%);
    box-shadow: 0px 0px 0px 1px hsl(0, 0%, 0%), 0px 0px 0px 2px hsl(23, 55%, 24%), 0px 0px 0px 4px hsl(0, 0%, 0%), 2px 2px 5px 5px hsla(0, 0%, 0%, 95%);
    color: hsl(0, 35%, 81%);
    text-shadow: 1px 1px 0px hsla(0, 0%, 0%, 90%);
    transition: opacity 0.1s;
    z-index: 15;
}

.floating-modal .floating-modal-body {
    padding: 5px;
}

.floating-modal .floating-modal-body > * {
    display: none;
}

.floating-modal .floating-modal-body > div.selected {
    display: initial;
}

.floating-modal .floating-modal-menu {
}

.floating-modal .floating-modal-menu button {
    margin: 0px 2px 3px 2px;
}

.floating-modal .floating-modal-drag {
    background-image: linear-gradient(130deg, hsl(0deg 0% 0% / 15%) 16.67%, hsl(0deg 0% 0% / 0%) 16.67%, hsl(0deg 0% 0% / 0%) 50%, hsl(0deg 0% 0% / 15%) 50%, hsl(0deg 0% 0% / 15%) 66.67%, hsl(0deg 0% 0% / 0%) 66.67%, hsl(0deg 0% 0% / 0%) 100%);
    background-size: 7.83px 9.33px;
    cursor: move;
    flex: 1;
    margin: 0px 5px;
    user-select: none;
}

.floating-modal .floating-modal-close {
    height: 22px;
    width: 22px;
}

.floating-modal .floating-modal-header {
    display: flex;
    margin: initial;
    overflow: auto;
    padding: 5px;
}

.floating-modal.hidden,
.floating-modal .hidden {
    display: none;
}

.floating-modal .floating-modal-menu button.selected {
    background: url(/images/noise.png), linear-gradient(hsl(24, 43%, 48%), hsl(25, 32%, 36%));
}

.pagination .pages {
    display: inline;
}

.pagination .pages > * {
    padding: 2px 5px;
}

.ranking {
    border-radius: 3px;
    border: 1px solid hsl(23, 48%, 18%);
}

.loading {
    margin: auto;
    text-align: center;
}

.loading.hidden {
    display: none;
}

.loading > div {
    animation: sk-bouncedelay 1s infinite ease-in-out both;
    background-color: hsl(30, 35%, 45%);
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.loading .b1 {
    animation-delay: -0.25s;
}

.loading .b2 {
    animation-delay: -0.1s;
}

.pagination {
    background: inherit;
    border-top: 1px solid hsl(23deg 42% 24%);
    padding: 5px 0px;
    text-align: center;
    user-select: none;
    width: 100%;
}

.pagination .page {
    color: hsl(22deg 42% 63%);
}

.pagination .page.current {
    background: hsl(0 0% 0% / 20%);
    color: hsl(24deg 60% 58%);
    font-weight: bold;
}

.pagination .hidden {
    display: none;
}

#map-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

#ranking-toggle {
    flex: 1;
}

#map-page header a {
    color: hsl(38, 100%, 90%);
    width: 100%;
}

#map-page footer {
    background: initial;
    margin: initial;
    padding: initial;
    text-align: initial;
}

#side-panel {
    background: url(/images/side-bar-left.jpg) left repeat-y, url(/images/side-bar-right.jpg) right repeat-y, url(/images/side-bar-middle.jpg), hsl(23, 25%, 20%);
    box-shadow: 5px 0px 6px hsla(0, 0%, 0%, 80%);
    color: hsl(38, 100%, 90%);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    float: left;
    height: 100%;
    padding-left: 2px;
    padding-right: 7px;
    position: relative;
    width: 150px;
    z-index: 5;
}

#side-panel > * {
    display: flex;
    flex-direction: column;
}

#side-panel .element {
    margin-right: 4px;
}

#side-panel .flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

#side-panel footer {
    border: none;
    box-shadow: none;
}

#side-panel footer a {
    color: hsl(197, 100%, 50%);
}

#side-panel .world-name {
    margin: 3px 0px;
    text-align: center;
}

#side-panel button {
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#side-panel .flex-column {
    display: flex;
    flex-direction: column;
}


#map {
    background-color: hsl(84, 68%, 23%);
    height: 100%;
    touch-action: none;
    user-select: none;
    width: 100%;
}

#panel-toggle {
    background: url(/images/noise.png) hsl(23, 25%, 20%);
    border-radius: 0px 5px 5px 0px;
    border: 1px solid hsl(23, 6%, 39%);
    bottom: 0;
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 67%, 17%), 5px 0px 6px hsla(0, 0%, 0%, 80%);
    height: 50px;
    margin: auto;
    position: absolute;
    right: -28px;
    top: 0;
    visibility: hidden;
    width: 22px;
}

#panel-toggle:after,
#panel-toggle.hide:after {
    color: hsl(36, 13%, 59%);
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

#panel-toggle:after {
    content: '>';
}

#panel-toggle.hide:after {
    content: '<';
}

#quick-jump {
    flex-direction: row;
    margin-top: 3px;
}

#quick-jump-coords {
    color: hsl(29, 37%, 31%);
    display: inline-block;
    flex: 1;
    height: 22px;
    line-height: 22px;
    position: relative;
    text-align: center;
}

#quick-jump-x,
#quick-jump-y {
    background: none;
    border: none;
    text-align: center;
    width: 24px;
}

#quick-jump-go {
    cursor: pointer;
    display: inline-block;
    outline: none;
    vertical-align: top;
    width: 25%;
}

#highlights {
    flex: 1;
    overflow-y: hidden;
    padding-bottom: 5px;
}

#highlight-id {
    height: 22px;
    padding: 0px 8px;
    text-shadow: 0px 0px 1px hsla(0, 0%, 0%, 70%);
}

#highlights-title {
    padding: 0 2px;
    text-align: center;
}

#highlight-items {
    flex: 1;
    margin-right: 1px;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: hsl(27, 21%, 41%) transparent;
    scrollbar-width: thin;
    text-shadow: 1px 1px 0px hsl(0deg 0% 0%);
}

#highlight-items .item {
    height: 26px;
    line-height: 16px;
}

#highlight-items .item.tribes {
    order: 1;
}

#highlight-items .item.players {
    order: 2;
}

#highlight-items .item .name {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 96px;
}

#highlight-items .item .name:hover {
    color: hsl(31, 87%, 65%);
}

#highlight-items .item .color {
    background: url(/images/noise.png) hsl(29, 39%, 45%);
    border-radius: 1px;
    border: 1px solid hsl(24, 42%, 39%);
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 67%, 17%), 1px 1px 2px hsl(0, 0%, 0%);
    cursor: pointer;
    float: right;
    height: 10px;
    margin-right: 3px;
    margin-top: 5px;
    padding: 1px;
    position: relative;
    width: 11px;
}

#highlight-items .item .villages {
    color: hsl(38, 28%, 64%);
    font-size: 0.9rem;
    line-height: 0px;
    padding-left: 19px;
    width: 100%;
}

#highlight-items .item .color:hover {
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 34%, 77%);
}

#highlight-items::-webkit-scrollbar {
    width: 6px;
}

#highlight-items::-webkit-scrollbar-track {
  background: transparent;
}

#highlight-items::-webkit-scrollbar-thumb {
  background-color: hsl(27, 21%, 41%);
}

#map-share-wrapper {
    flex-direction: column;
}

#map-share,
#map-save {
    flex: 1;
}

#map-share .hidden,
#map-save .hidden {
    display: none;
}

#color-picker {
    background: url(/images/tooltip-background.png) hsl(31, 44%, 67%);
    border-collapse:separate;
    border-spacing:1px;
    display:inline-block;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity .2s;
    visibility: hidden;
    z-index: 10;
}

#color-picker td {
    border:1px solid hsl(0, 0%, 0%);
    padding:0;
}

#color-picker .color {
    display:inline-block;
    float:left;
    height:20px;
    margin:1px;
    width:20px;
}

#color-picker .active {
    box-shadow: inset 0px 0px 0px 1px hsla(120, 100%, 50%, 80%), inset 0px 0px 0px 2px hsla(0, 0%, 0%, 80%), inset 0px 0px 0px 3px hsla(120, 100%, 50%, 80%), inset 0px 0px 0px 4px hsla(0, 0%, 0%, 80%);
}

#map-info {
    bottom: 5px;
    color: hsl(36, 13%, 59%);
    margin-left: 5px;
    position: absolute;
    text-shadow: 1px 1px 0px hsla(0, 0%, 0%, 90%);
    z-index: 10;
}

#map-info .hidden {
    display: none;
}

#map-info > div {
    clear: both;
    display: inline-block;
    float: left;
    margin: 4px 0px;
}

#all-worlds {
    background: url(/images/noise.png) hsl(23, 48%, 29%);
    border-radius: 1px;
    border: 1px solid hsl(23, 55%, 24%);
    box-shadow: 0 0 0 1px hsl(0, 0%, 0%), 0 0 0 2px hsl(23, 55%, 24%), 0 0 0 4px hsl(0, 0%, 0%), 2px 2px 5px 5px hsla(0, 0%, 0%, 95%);
    color: hsl(38, 100%, 90%);
    padding: 3px;
    position: absolute;
    text-shadow: 1px 1px 0px hsla(0, 0%, 0%, 90%);
    transition: visibility 0.02s linear, opacity 0.02s linear;
    width: 200px;
    z-index: 7;
}

#all-worlds.hidden {
    opacity: 0;
    visibility: hidden;
}

#all-worlds a {
    text-decoration: none;
}

#all-worlds h2 {
    margin: 5px;
    text-align: center;
    width: 100%;
}

#all-market-worlds {
    float: left;
    width: 67%;
}

#all-market-worlds .world {
    display: block;
    margin: 5px 1px;
    max-width: 131px;
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#all-market-worlds .world.selected {
    background: url(/images/noise.png), linear-gradient(hsl(23, 22%, 35%), hsl(25, 57%, 16%));
    border-color: hsl(25, 22%, 44%);
    font-weight: bold;
}

#all-markets {
    float: left;
    margin-right: 5px;
    width: 30%;
}

#all-markets li {
    cursor: pointer;
}

#all-markets div.market {
    margin: 1px 2px;
    text-align: center;
}

#all-markets div.market.selected {
    background: hsl(23, 22%, 35%);
    border-color: hsl(24, 27%, 58%);
}

#all-markets li:hover {
    background: hsl(23, 45%, 36%);
}

#change-settings {
    flex: 1;
}

#settings {
    padding: 3px;
    position: absolute;
    width: 200px;
    z-index: 7;
}

#settings.hidden {
    opacity: 0;
    visibility: hidden;
}

#settings .color-option {
    display: block;
    padding: 2px 0px;
}

#settings .color {
    background: url(/images/noise.png) hsl(29, 39%, 45%);
    border-radius: 1px;
    border: 1px solid hsl(24, 42%, 39%);
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 67%, 17%), 1px 1px 2px hsl(0, 0%, 0%);
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 10px;
    padding: 1px;
    position: relative;
    vertical-align: top;
    width: 11px;
}

#settings .color:hover {
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 34%, 77%);
}

#search-results {
    background: url(/images/noise-3.png) top left hsl(32, 43%, 66%);
    box-shadow: inset 0 0 0 1px hsl(31, 46%, 22%), inset 0 0 0 2px hsl(32, 51%, 72%), 5px 5px 5px hsla(0, 0%, 0%, 80%);
    color: hsl(0, 0%, 0%);
    left: 2px;
    line-height: 15px;
    margin-top: 27px;
    overflow: hidden;
    padding: 3px;
    position: absolute;
    right: 6px;
    text-overflow: ellipsis;
    z-index: 10;
}

#search-results.hidden,
#search-results .hidden {
    display: none;
}

#search-no-results {
    opacity: 0.5;
}

#search-results .result {
    cursor: pointer;
    margin: 0px;
    overflow: hidden;
    padding: 2px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#search-results .result .icon {
    display: inline-block;
    height: 18px;
    line-height: 18px;
}

#search-results .result:hover,
#search-results .result.selected:hover {
    background-color: hsla(31, 68%, 87%, 66%);
    color: hsl(31, 100%, 25%);
}

#search-results .result.selected {
    background-color: hsla(31, 68%, 87%, 36%);
    color: hsl(31, 100%, 25%);
}

#notif {
    background: url(/images/noise.png) hsl(23, 74%, 12%);
    border-radius: 1px;
    border: 1px solid hsl(23, 6%, 39%);
    bottom: 40px;
    box-shadow: 0px 0px 0px 1px hsl(23, 67%, 17%), inset 0px 0px 0px 1px hsl(23, 67%, 17%), 2px 2px 5px hsl(0, 0%, 0%), inset 3px 3px 2px hsla(0, 0%, 100%, 10%), inset -3px -3px 2px hsla(0, 0%, 0%, 10%);
    color: hsl(38, 100%, 90%);
    max-height: 200px;
    max-width: 400px;
    min-width: 300px;
    padding-bottom: 10px;
    padding: 2px 6px;
    position: absolute;
    right: 40px;
    text-shadow: 1px 1px 0px hsla(0, 0%, 0%, 90%);
    transition: visibility 0.1s linear, opacity 0.1s linear, right 0.15s ease-out;
    z-index: 15;
}

#notif-wrapper {
    margin: 5px;
}

#notif.hidden {
    opacity: 0;
    right: -240px;
    visibility: hidden;
}

#notif-link.hidden,
#notif-content.hidden {
    display: none;
}

#notif-content {
    margin: 0px;
    text-align: center;
    word-break: break-word;
}

#notif-title {
    border-bottom: 1px solid hsla(38, 100%, 90%, 50%);
    margin-bottom: 0px;
    margin: 3px;
    padding-bottom: 5px;
    text-align: center;
    text-shadow: 1px 1px 3px hsl(0, 0%, 0%);
}

#notif-link {
    display: inline-block;
    margin-top: 2px;
    text-align: center;
    width: 100%;
    word-break: break-word;
}

#notif-close {
    background: url(/images/close.png);
    cursor: pointer;
    display: inline-block;
    height: 11px;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 11px;
}

#site-info {
    font-size: 0.9rem;
    margin-bottom: 2px;
    text-align: center;
}

#site-info p {
    margin: 2px 0px;
}

#site-info a {
    cursor: pointer;
}

#ranking {
    min-width: 600px;
    position: fixed;
}

#ranking tbody a {
    background: url(/images/external-link.png) 97% center no-repeat, url(/images/noise.png), linear-gradient(hsl(24, 42%, 39%), hsl(25, 32%, 26%));
    border-radius: 3px;
    border: 1px solid hsl(28deg 62% 16%);
    box-shadow: 1px 1px 1px hsl(0deg 0% 0% / 10%);
    box-shadow: none;
    display: inline-block;
    height: initial;
    padding-right: 13px;
    padding: 1px 5px;
    text-decoration: none;
}

#ranking tbody a:hover {
    border: 1px solid hsl(28deg 92% 10%);
}

#ranking .highlight {
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}

#ranking .highlight:hover {
    color: white;
}

#ranking td {
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ranking th {
    color: hsl(22deg 38% 58%);
    max-width: 80px;
    overflow: hidden;
    padding: 5px 0px 5px 10px;
    text-overflow: ellipsis;
}

#ranking .sort {
    color: hsl(22deg 58% 58%);
    cursor: pointer;
}

#ranking .sort:hover {
    color: hsl(22deg 80% 58%);
}

#ranking .sort.selected::before {
    opacity: 1;
}

#ranking .sort.reverse::before {
    transform: rotate(180deg);
}

#ranking .sort::before {
    background-image: url(/images/icons/down-arrow.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    content: ''; 
    display: inline-block;
    height: 9px;
    margin-left: -9px;
    margin-top: 3px;
    opacity: 0;
    position: absolute;
    transform: rotate(0deg);
    width: 8px;
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0);
    } 40% { 
        transform: scale(1.0);
    }
}

@media (max-width: 800px) {
    #panel-toggle {
        visibility: visible;
    }

    #side-panel.hidden {
        margin-left: -150px;
    }

    #map.full {
        margin-left: 0px;
    }

    #color-picker {
        transform: initial !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 366px;
        height: 132px;
    }
}
