html {
    overflow: hidden;
}

body#map-page {
    width: 100%;
    max-width: initial;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 11px Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: relative;
}

input,
button {
    outline: none;
    font: 11px Arial, Helvetica, sans-serif;
}

a {
    color: hsl(0, 35%, 80%);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: hsl(0, 35%, 90%);
}

#side-panel header {
    margin-top: 10px;
    margin-bottom: 10px;
}

#side-panel header > div {
    margin: 3px 0px;
}

#side-panel footer button {
    margin: 4px 0px;
}

#side-panel footer a {
    color: hsl(197, 100%, 50%);
}

#side-panel .world-name {
    text-align: center;
    font-size: 1.3em;
}

#side-panel button {
    margin: 1px 0px;
}

#ranking-toggle {
    width: 136px;
}

#map-page header a {
    color: hsl(38, 100%, 90%);
}

#map-page footer {
    margin: initial;
    padding: initial;
    background: initial;
    text-align: initial;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

::placeholder {
    color: hsl(0, 0%, 20%);
    text-shadow: none;
}

h1 {
    font-size: 14px;
}

h2 {
    font-size: 12px;
}

h3 {
    font-size: 11px;
}

h1, h2, h3 {
    text-shadow: 1px 1px 0px hsl(0, 0%, 0%);
}

button {
    height: 22px;
    padding: 0px 3px;
    outline: none;
    cursor: pointer;
    color: hsl(0, 35%, 81%);
    text-shadow: 1px 1px 0px hsl(0, 0%, 0%);
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(24, 49%, 32%);
    background: url(/images/noise.png), linear-gradient(hsl(24, 42%, 39%), hsl(25, 32%, 26%));
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%),
                inset 0 0 0 1px hsl(23, 67%, 17%),
                2px 2px 2px hsl(0, 0%, 0%),
                inset -1px -1px 2px hsl(0, 0%, 0%);
}

button:hover,
button:focus {
    background: url(/images/noise.png), linear-gradient(hsl(24, 43%, 48%), hsl(25, 32%, 26%));
}

button.red {
    border-color: hsl(8, 49%, 38%);
    background-image: linear-gradient(hsl(0, 47%, 51%), hsl(0, 70%, 29%));
}

button.red:hover,
button.red:focus {
    background-image: linear-gradient(hsl(0, 48%, 58%), hsl(0, 70%, 29%));
}

.input {
    border-radius: 1px;
    border: 1px solid hsl(24, 42%, 39%);
    background: url(/images/noise.png) hsl(29, 39%, 45%);
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%),
                inset 0 0 0 1px hsl(23, 67%, 17%),
                2px 2px 2px hsl(0, 0%, 0%),
                inset 1px 1px 3px hsla(0, 0%, 0%, 95%);
}

.input:focus-within {
    border: 1px solid hsl(24, 37%, 51%);
}

#map-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

#side-panel {
    width: 150px;
    flex-shrink: 0;
    height: 100%;
    box-shadow: 5px 0px 6px hsla(0, 0%, 0%, 80%);
    z-index: 5;
    color: hsl(38, 100%, 90%);
    background: url(/images/side-bar-left.jpg) left repeat-y,
                url(/images/side-bar-right.jpg) right repeat-y,
                url(/images/side-bar-middle.jpg),
                hsl(23, 25%, 20%);
    position: relative;
    float: left;
    padding-right: 9px;
    padding-left: 2px;
}

#map {
    touch-action: none;
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: hsl(84, 68%, 23%);
}

#panel-toggle {
    visibility: hidden;
    width: 22px;
    height: 50px;
    position: absolute;
    margin: auto;
    right: -28px;
    top: 0;
    bottom: 0;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid hsl(23, 6%, 39%);
    background: url(/images/noise.png) hsl(23, 25%, 20%);
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 67%, 17%), 5px 0px 6px hsla(0, 0%, 0%, 80%);
}

#panel-toggle:after,
#panel-toggle.hide:after {
    bottom: 0px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    color: hsl(36, 13%, 59%);
    cursor: pointer;
}

#panel-toggle:after {
    content: '>';
}

#panel-toggle.hide:after {
    content: '<';
}

#quick-jump {
    margin-top: 5px;
    margin-bottom: 5px;
}

#quick-jump-coords {
    color: hsl(29, 37%, 31%);
    width: 91px;
    height: 22px;
    padding-top: 2px;
    padding-bottom: 0px;
    font-weight: bold;
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 1px 0px;
}

#quick-jump-x,
#quick-jump-y {
    border: none;
    width: 24px;
    background: none;
    text-align: center;
    padding: 0px;
    padding-top: 2px;
    text-shadow: 0px 0px 1px hsla(0, 0%, 0%, 70%);
}

#quick-jump-go {
    font-size: 11px;
    outline: none;
    cursor: pointer;
    width: 42px;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
}



#highlights {
    height: calc(100% - 170px);
    position: relative;
}

#highlight-id {
    width: 136px;
    height: 22px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    text-shadow: 0px 0px 1px hsla(0, 0%, 0%, 70%);
}

#highlights-title {
    text-align: center;
    padding: 0 2px;
}

#highlight-items {
    width: calc(100% - 4px);
    margin-top: 5px;
    margin-left: 2px;
    text-shadow: 1px 1px 0px hsl(0deg 0% 0%);
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: hsl(27, 21%, 41%) transparent;
}

#highlight-items .item {
    line-height: 16px;
    height: 26px;
}

#highlight-items .item.tribes {
    order: 1;
}

#highlight-items .item.players {
    order: 2;
}

#highlight-items .item .name {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 96px;
    cursor: pointer;
}

#highlight-items .item .name:hover {
    color: hsl(31, 87%, 65%);
}

#highlight-items .item .color {
    padding: 1px;
    margin-top: 5px;
    margin-right: 3px;
    float: right;
    width: 11px;
    height: 10px;
    position: relative;
    border-radius: 1px;
    border: 1px solid hsl(24, 42%, 39%);
    background: url(/images/noise.png) hsl(29, 39%, 45%);
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%),
                inset 0 0 0 1px hsl(23, 67%, 17%),
                1px 1px 2px hsl(0, 0%, 0%);
    cursor: pointer;
}

#highlight-items .item .villages {
    width: 100%;
    color: hsl(38, 28%, 64%);
    line-height: 0px;
    padding-left: 19px;
    font-size: 9px;
}

#highlight-items .item .color:hover {
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 34%, 77%);
}

#highlight-items .item .icon-players {
    background: url(/images/player.png) left center no-repeat;
    padding-left: 17px;
}

#highlight-items .item .icon-tribes {
    background: url(/images/tribe.png) left center no-repeat;
    padding-left: 17px;
}

#highlight-items::-webkit-scrollbar {
    width: 6px;
}

#highlight-items::-webkit-scrollbar-track {
  background: transparent;
}

#highlight-items::-webkit-scrollbar-thumb {
  background-color: hsl(27, 21%, 41%);
}

#side-panel footer {
    position: absolute;
    bottom: 0px;
    box-shadow: none;
    border: none;
}

#map-share-wrapper {
    margin-bottom: 10px;
}

#map-share,
#map-save {
    width: 136px;
    margin-left: 3px;
    margin-top: 5px;
    font-size: 11px;
    display: block;
}

#map-share .hidden,
#map-save .hidden {
    display: none;
}

.mini-icon {
    width: 12px;
    height: 12px;
    line-height: 12px;
    display: inline-block;
    left: 0px;
    top: 0px;
    vertical-align: top;
    background-size: 12px;
    margin-top: 1px;
}

.mini-icon.village {
    background-image: url(/images/village-icon.png);
}

.mini-icon.points {
    background-image: url(/images/points-icon.png);
}

#color-picker {
    visibility: hidden;
    opacity: 0;

    border-collapse:separate;
    display:inline-block;
    border-spacing:1px;
    transition: opacity .2s;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    
    background: url(/images/tooltip-background.png) hsl(31, 44%, 67%);
}

#color-picker td {
    padding:0;
    border:1px solid hsl(0, 0%, 0%);
}

#color-picker .color {
    display:inline-block;
    float:left;
    margin:1px;
    width:20px;
    height:20px;
}

#color-picker .active {
    box-shadow: inset 0px 0px 0px 1px hsla(120, 100%, 50%, 80%),
                inset 0px 0px 0px 2px hsla(0, 0%, 0%, 80%),
                inset 0px 0px 0px 3px hsla(120, 100%, 50%, 80%),
                inset 0px 0px 0px 4px hsla(0, 0%, 0%, 80%);
}

div.text-container {
    border-radius: 1px;
    border: 1px solid hsl(23, 6%, 39%);
    background: url(/images/noise.png) hsl(23, 25%, 20%);
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%),
                inset 0 0 0 1px hsl(23, 67%, 17%),
                2px 2px 2px hsl(0, 0%, 0%);
    padding: 2px 6px;
}

#map-info {
    position: absolute;
    bottom: 5px;
    margin-left: 5px;
    z-index: 10;
    color: hsl(36, 13%, 59%);
    text-shadow: 1px 1px 0px hsla(0, 0%, 0%, 90%);
}

#map-info .hidden {
    display: none;
}

#map-info > div {
    margin: 4px 0px;
    display: inline-block;
    clear: both;
    float: left;
}

#current-world {
    margin-left: 4px;
    width: 60px;
}

#all-worlds {
    position: absolute;
    width: 200px;
    background: url(/images/noise.png) hsl(23, 48%, 29%);
    color: hsl(38, 100%, 90%);
    padding: 3px;
    text-shadow: 1px 1px 0px hsla(0, 0%, 0%, 90%);
    z-index: 7;
    transition: visibility 0.02s linear, opacity 0.02s linear;
    box-shadow: 0 0 0 1px hsl(0, 0%, 0%), 0 0 0 2px hsl(23, 55%, 24%), 0 0 0 4px hsl(0, 0%, 0%), 2px 2px 5px 5px hsla(0, 0%, 0%, 95%);
    border: 1px solid hsl(23, 55%, 24%);
    border-radius: 1px;
}

#all-worlds.hidden {
    visibility: hidden;
    opacity: 0;
}

#all-worlds a {
    text-decoration: none;
}

#all-worlds h2 {
    width: 100%;
    text-align: center;
    margin: 5px;
}

#all-market-worlds {
    width: 67%;
    float: left;
}

#all-market-worlds .world {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    max-width: 131px;
    margin: 5px 1px;
    padding: 0 5px;
}

#all-market-worlds .world.selected {
    background: url(/images/noise.png), linear-gradient(hsl(23, 22%, 35%), hsl(25, 57%, 16%));
    border-color: hsl(25, 22%, 44%);
    font-weight: bold;
}

#all-markets {
    width: 30%;
    float: left;
    margin-right: 5px;
}

#all-markets li {
    cursor: pointer;
}

#all-markets div.market {
    text-align: center;
    margin: 1px 2px;
}

#all-markets div.market.selected {
    background: hsl(23, 22%, 35%);
    border-color: hsl(24, 27%, 58%);
}

#all-markets li:hover {
    background: hsl(23, 45%, 36%);
}

#change-settings {
    width: 73px;
}

#settings {
    position: absolute;
    width: 200px;
    z-index: 7;
    padding: 3px;
}

#settings.hidden {
    visibility: hidden;
    opacity: 0;
}

#settings .color-option {
    display: block;
    padding: 2px 0px;
}

#settings .color {
    float: right;
    display: inline-block;
    padding: 1px;
    width: 11px;
    height: 10px;
    position: relative;
    border-radius: 1px;
    border: 1px solid hsl(24, 42%, 39%);
    background: url(/images/noise.png) hsl(29, 39%, 45%);
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%),
                inset 0 0 0 1px hsl(23, 67%, 17%),
                1px 1px 2px hsl(0, 0%, 0%);
    cursor: pointer;
    vertical-align: top;
}

#settings .color:hover {
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 34%, 77%);
}

#search-results {
    color: hsl(0, 0%, 0%);
    line-height: 15px;
    background: url(/images/noise-3.png) top left hsl(32, 43%, 66%);
    box-shadow: inset 0 0 0 1px hsl(31, 46%, 22%),
                inset 0 0 0 2px hsl(32, 51%, 72%),
                5px 5px 5px hsla(0, 0%, 0%, 80%);
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px;
    width: 134px;
    z-index: 10;
    position: absolute;
    top: 45px;
    left: 5px;
}

#search-results.hidden,
#search-results .hidden {
    display: none;
}

#search-no-results {
    opacity: 0.5;
}

#search-results .result {
    cursor: pointer;
    margin: 0px;
}

#search-results .result:hover {
    color: hsl(31, 100%, 25%);
    background-color: hsla(31, 68%, 87%, 66%);
}

#search-results .result.selected {
    color: hsl(31, 100%, 25%);
    font-weight: bold;
}

#notif {
    position: absolute;
    bottom: 40px;
    right: 40px;
    min-width: 300px;
    max-width: 400px;
    max-height: 200px;
    padding-bottom: 10px;
    z-index: 15;
    border-radius: 1px;
    border: 1px solid hsl(23, 6%, 39%);
    background: url(/images/noise.png) hsl(23, 74%, 12%);
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%),
                inset 0 0 0 1px hsl(23, 67%, 17%),
                2px 2px 5px hsl(0, 0%, 0%),
                inset 3px 3px 2px hsla(0, 0%, 100%, 10%),
                inset -3px -3px 2px hsla(0, 0%, 0%, 10%);
    padding: 2px 6px;
    color: hsl(38, 100%, 90%);
    text-shadow: 1px 1px 0px hsla(0, 0%, 0%, 90%);


    transition: visibility 0.1s linear,
                opacity 0.1s linear,
                right 0.15s ease-out;
}

#notif-wrapper {
    margin: 5px;
}

#notif.hidden {
    visibility: hidden;
    opacity: 0;
    right: -240px;
}

#notif-link.hidden,
#notif-content.hidden {
    display: none;
}

#notif-content {
    text-align: center;
    word-break: break-word;
    margin: 0px;
}

#notif-title {
    font-size: 13px;
    text-align: center;
    margin: 3px;
    text-shadow: 1px 1px 3px hsl(0, 0%, 0%);
    border-bottom: 1px solid hsla(38, 100%, 90%, 50%);
    padding-bottom: 5px;
    margin-bottom: 0px;
}

#notif-link {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 2px;
    word-break: break-word;
}

#notif-close {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 11px;
    height: 11px;
    background: url(/images/close.png);
    display: inline-block;
    cursor: pointer;
}

#site-info {
    font-size: 9px;
    text-align: center;
    margin-bottom: 5px;
}

#site-info p {
    margin: 2px 0px;
}

#site-info a {
    cursor: pointer;
}

#ranking {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 600px;
}

#ranking tbody a {
    box-shadow: none;
    border: 1px solid hsl(28deg 62% 16%);
    border-radius: 3px;
    height: initial;
    padding: 1px 5px;
    background: url(/images/external-link.png) 97% center no-repeat, url(/images/noise.png), linear-gradient(hsl(24, 42%, 39%), hsl(25, 32%, 26%));
    padding-right: 13px;
    box-shadow: 1px 1px 1px hsl(0deg 0% 0% / 10%);
    text-decoration: none;
    display: inline-block;
}

#ranking tbody a:hover {
    border: 1px solid hsl(28deg 92% 10%);
}

#ranking .highlight {
    font-weight: bold;
    cursor: pointer;
}

.floating-modal {
    background: url(/images/noise.png) hsl(23, 48%, 29%);
    color: hsl(0, 35%, 81%);
    text-shadow: 1px 1px 0px hsla(0, 0%, 0%, 90%);
    transition: opacity 0.1s;
    box-shadow: 0 0 0 1px hsl(0, 0%, 0%), 0 0 0 2px hsl(23, 55%, 24%), 0 0 0 4px hsl(0, 0%, 0%), 2px 2px 5px 5px hsla(0, 0%, 0%, 95%);
    border: 1px solid hsl(23, 55%, 24%);
    border-radius: 1px;
    z-index: 6;
}

.floating-modal .floating-modal-body {
    padding: 5px;
}

.floating-modal .floating-modal-body > * {
    display: none;
}

.floating-modal .floating-modal-body > div.selected {
    display: initial;
}

.floating-modal .floating-modal-menu {
}

.floating-modal .floating-modal-menu button {
    margin: 0px 2px 3px 2px;
}

.floating-modal .floating-modal-drag {
    margin: 0px 5px;
    flex: 1;
    cursor: move;
    user-select: none;
    background-image: linear-gradient(130deg,
        hsl(0deg 0% 0% / 15%) 16.67%,
        hsl(0 0% 0% / 0%) 16.67%,
        hsl(0 0% 0% / 0%) 50%,
        hsl(0deg 0% 0% / 15%) 50%,
        hsl(0deg 0% 0% / 15%) 66.67%,
        hsl(0 0% 0% / 0%) 66.67%,
        hsl(0 0% 0% / 0%) 100%);
    background-size: 7.83px 9.33px;
}

.floating-modal .floating-modal-close {
    width: 22px;
    height: 22px;
}

.floating-modal .floating-modal-header {
    margin: initial;
    padding: 5px;
    display: flex;
    overflow: auto;
}

.floating-modal.hidden,
.floating-modal .hidden {
    display: none;
}

.floating-modal .floating-modal-menu button.selected {
    background: url(/images/noise.png), linear-gradient(hsl(24, 43%, 48%), hsl(25, 32%, 36%));
}

.pagination .pages {
    display: inline;
}

.pagination .pages > * {
    padding: 2px 5px;
}

table.ranking {
    border: 1px solid hsl(23, 48%, 18%);
    border-radius: 3px;
    width: calc(100% - 10px);
    margin: 5px;
}

.loading {
    margin: auto;
    text-align: center;
}

.loading.hidden {
    display: none;
}

.loading > div {
    width: 10px;
    height: 10px;
    background-color: hsl(30, 35%, 45%);
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1s infinite ease-in-out both;
}

.loading .b1 {
    animation-delay: -0.25s;
}

.loading .b2 {
    animation-delay: -0.1s;
}

table {
    background: url(/images/noise.png) hsl(23, 48%, 29%);
    width: 100%;
    border-spacing: 0px;
}

th {
    background: url(/images/noise.png) hsl(23, 48%, 29%);
}


tr:nth-child(even) {
    background: inherit;
}

tr:nth-child(odd) {
    background: url(/images/noise.png) hsl(23, 48%, 32%);
}

table tbody tr:hover td {
    background: url(/images/noise.png) hsl(23, 48%, 38%);
}

td, th {
    text-align: center;
    height: 20px;
    white-space: nowrap;
    margin: 0px;
}

td {
    border-top: none;
    border-bottom: 1px solid hsl(23deg 42% 27%);
}

th {
    border: none;
}

tr:last-child td {
}

th a,
th a:hover {
    color: inherit;
}

th {
    background: hsl(0 0% 0% / 20%);
    padding: 5px 0px;
}

.pagination {
    background: inherit;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    border-top: 1px solid hsl(23deg 42% 24%);
    user-select: none;
}

.pagination .page {
    color: hsl(22deg 42% 63%);
}

.pagination .page.current {
    color: hsl(24deg 60% 58%);
    background: hsl(0 0% 0% / 20%);
    font-weight: bold;
}

.pagination .hidden {
    display: none;
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0);
    } 40% { 
        transform: scale(1.0);
    }
}

@media (max-width: 800px) {
    html {
        font-size: 12px;
    }

    #panel-toggle {
        visibility: visible;
    }

    #side-panel.hidden {
        margin-left: -150px;
    }

    #map.full {
        margin-left: 0px;
    }

    #color-picker {
        transform: initial !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 366px;
        height: 132px;
    }
}
