:root {
    --bg-button-hover: linear-gradient(hsl(24, 42%, 39%), hsl(25, 32%, 26%));
    --bg-button-red-hover: linear-gradient(hsl(0, 48%, 58%), hsl(0, 70%, 29%));
    --bg-button-red: linear-gradient(hsl(0, 47%, 51%), hsl(0, 70%, 29%));
    --bg-button: linear-gradient(hsl(24, 42%, 39%), hsl(25, 32%, 26%));
    --color-content-layer-2: var(--noise) hsl(43, 52%, 75%);
    --color-content: var(--noise) hsl(40, 53%, 66%);
    --color-highlight: hsl(39, 35%, 53%);
    --color-table-header: var(--noise) hsl(40, 53%, 60%);
    --color-table-row-even: var(--noise) hsl(40, 53%, 64%);
    --color-table-row-hover: var(--noise) hsl(40, 53%, 69%);
    --content-inner-shadow: inset -2px -2px 3px hsla(0, 0%, 0%, .03);
    --content-menu-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.35);
    --main-background: hsl(43, 59%, 78%);
    --noise: url(/images/bg-noise.png);
    --shadow-border-1: 0px 0px 0px 1px hsl(23, 55%, 24%), 0px 0px 0px 2px hsl(23, 47%, 36%), 2px 2px 4px hsla(0, 0%, 0%, 0.50);
    --shadow-border-2: 0px 0px 0px 1px hsl(23, 67%, 17%), inset 0px 0px 0px 1px hsl(23, 67%, 17%), 2px 2px 2px hsl(0, 0%, 0%), inset -1px -1px 2px hsl(0, 0%, 0%);
    --shadow-border-input: 0px 0px 0px 1px hsl(23, 67%, 17%), inset 0px 0px 0px 1px hsl(23, 67%, 17%), 2px 2px 2px hsl(0, 0%, 0%), inset 1px 1px 3px hsla(0, 0%, 0%, 0.95);
    --shadow-button-1: 0px 0px 0px 1px hsl(23, 67%, 17%), inset 0px 0px 0px 1px hsl(23, 67%, 17%), 2px 2px 2px hsla(0, 0%, 0%, 0.50), inset -1px -1px 2px hsl(0, 0%, 0%);
}

*, *:before, *:after {
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

html {
    background: url(/images/bg-scene.webp) top no-repeat, var(--noise), hsl(37, 18%, 45%);
    box-sizing: border-box;
    color: hsl(24, 47%, 21%);
    font-family: 'Trebuchet MS', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

html.map-page {
    background: none;
    font-size: 11px;
    overflow: hidden;
}

body {
    margin: auto;
    max-width: 1100px;
    padding: 10px;
}

.map-page body {
    max-width: initial;
    width: 100%;
    height: 100%;
    padding: 0;
}

::placeholder {
    color: hsl(0, 0%, 20%);
    opacity: 0.7;
    text-shadow: none;
}

table {
    border-spacing: 0;
    width: 100%;
}

th {
    background: var(--color-table-header);
}

.map-page th {
    background: hsla(0, 0%, 0%, 0.20);
    padding: 5px 0;
}

tbody td, thead th, table.vertical th {
    border-bottom: 1px solid hsl(40, 44%, 58%);
    border-top: 1px solid hsl(40, 44%, 65%);
    height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 2px;
    text-align: center;
    text-overflow: ellipsis;
}

.map-page td {
    border-top: 1px solid hsl(23, 48%, 31%);
    border-bottom: 1px solid hsl(23, 48%, 25%);
}

.map-page th {
    border: none;
}

tbody tr:first-child td {
    border-top: none;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr:nth-child(even) {
    background: hsla(40, 84%, 33%, 0.05);
}

tbody tr:hover td {
    background: hsla(0, 100%, 100%, 0.10);
}

table.vertical tr:hover th {
    background: hsla(0, 100%, 100%, 0.05);
}

.map-page tbody tr:hover td {
    background: hsla(0, 100%, 100%, 0.05);
}

table.vertical th,
table.vertical td {
    text-align: left;
    white-space: normal;
}

table.vertical .right {
    float: right;
}

code {
    background: hsla(19, 58%, 41%, 0.38);
    border-radius: 3px;
    padding: 3px;
}

a {
    color: hsl(19, 58%, 41%);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: hsl(19, 57%, 47%);
    text-decoration: underline;
}

.map-page a {
    color: hsl(38, 100%, 90%);
    font-weight: bold;
    text-decoration: none;
}

.map-page a:hover {
    color: hsl(31, 87%, 65%);
    text-decoration: underline;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.5rem;
    margin: 5px 0;
}

h2 {
    font-size: 1.3rem;
    margin: 5px 0;
}

h3 {
    font-size: 1.2em;
    margin: 5px 0;
}

h4 {
    font-size: 1.1em;
    margin: 5px 0;
}

sup {
    font-size: 0.7em;
    font-weight: normal;
}

main, footer {
    background: var(--noise), url(/images/bg-content-border-left.webp) left repeat-y, url(/images/bg-content-border-right.webp) right repeat-y, url(/images/bg-content-border-top.webp) top repeat-x, url(/images/bg-content-border-bottom.webp) bottom repeat-x, var(--main-background);
    border-radius: 2px;
    border: 1px solid hsl(174, 16%, 26%);
    box-shadow: var(--shadow-border-1);
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

section {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    margin-top: 10px;
}

small {
    font-size: 0.8rem;
    padding: 2px 0;
}

fieldset {
    border: none;
}

fieldset legend {
    color: hsl(20, 39%, 5%);
    font-weight: bold;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
    background: var(--noise), linear-gradient(hsl(24, 43%, 48%), hsl(25, 32%, 26%));
}

div.world-title {
    margin-bottom: 10px;
    text-align: center;
}

#main-header {
    background: url(/images/banner.svg) no-repeat center / 33em;
    filter: drop-shadow(10px 10px 12px hsla(0, 0%, 0%, 0.50));
    height: 10em;
    margin-bottom: 10px;
    width: 100%;
}

#main-menu {
    display: flex;
    font-size: 1rem;
    padding: 0 10px;
    position: relative;
}

#main-menu a {
    background: var(--noise), radial-gradient(ellipse farthest-corner at 0 140%, hsl(204, 47%, 65%) 0%, hsl(205, 21%, 31%) 70%, hsl(204, 20%, 37%) 70%);
    border-radius: 1px 1px 0 0;
    box-shadow: 0 0 0 1px hsl(28, 62%, 16%), 0 0 0 2px hsl(24, 49%, 52%), 0 0 0 3px hsl(23, 48%, 38%), 0 0 0 4px hsl(17, 28%, 10%), inset 1px 1px 3px hsla(0, 0%, 100%, 0.40), inset -1px -1px 1px hsla(0, 0%, 0%, 0.40);
    color: white;
    display: inline-block;
    font-weight: bold;
    margin: 0 4px 0 4px;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 hsl(0, 0%, 0%);
    text-transform: uppercase;
}

#main-menu a:hover {
    background: var(--noise), radial-gradient(ellipse farthest-corner at 0 140%, hsl(204, 47%, 65%) 20%, hsl(205, 21%, 31%) 70%, hsl(204, 20%, 37%) 70%);
}

#main-menu a.red {
    background: var(--noise), radial-gradient(ellipse farthest-corner at 0 140%, hsl(0, 47%, 65%) 0%, hsl(0, 21%, 31%) 70%, hsl(0, 20%, 37%) 70%);
}

#main-menu a.red:hover {
    background: var(--noise), radial-gradient(ellipse farthest-corner at 0 140%, hsl(0, 47%, 65%) 20%, hsl(0, 21%, 31%) 70%, hsl(0, 20%, 37%) 70%);
}

#main-menu .left {
    margin-right: auto;
}

#main-menu .right {
    margin-left: auto;
}

#main-menu .icon {
    background-repeat: no-repeat;
    background-size: 15px;
    display: inline-block;
    height: 17px;
    vertical-align: middle;
    width: 15px;
}

#main-menu .icon-discord {
    background-image: url(/images/icons/discord.svg);
}

#main-menu .icon-heart {
    background-image: url(/images/icons/heart.svg);
}

#main-menu span[class^="flag-"] {
    padding-left: 23px;
}

#search .wrapper {
    padding: 10px;
    text-align: center;
}

#search .relax-input {
    width: 75%;
}

#search .relax-button {
    height: 25px;
    margin: 0;
    vertical-align: top;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

.content > div {
    flex: 1 1;
}

.content > * + * {
    margin-left: 10px;
}

.content > .increase-20 {
    flex-basis: 20%;
}

.section-actions {
    margin: 8px 0;
}

.content-menu {
    border-bottom: 2px solid hsl(23, 55%, 24%);
    border-radius: 3px;
    box-shadow: var(--content-menu-shadow);
    margin: 0;
    padding: 0;
    text-align: center;
}

.content-menu li {
    background: var(--noise), var(--bg-button);
    border-color: hsl(24, 49%, 32%);
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    box-shadow: var(--shadow-button-1);
    color: hsl(0, 35%, 81%);
    cursor: pointer;
    display: inline-block;
    margin: 4px 2px;
    outline: none;
    padding: 2px 10px;
    text-align: center;
    text-shadow: 1px 1px 0 hsl(0, 0%, 0%);
}

.content-menu li:hover {
    background: var(--noise), var(--bg-button-hover);
}

.content-menu li.selected {
    background-image: var(--bg-button-red);
    border-color: hsl(8, 49%, 38%);
}

.content-menu li.selected:hover {
    background-image: var(--bg-button-red-hover);
}

.relax-input {
    background: var(--noise) hsl(29, 39%, 45%);
    border-radius: 1px;
    border: 1px solid hsl(24, 42%, 39%);
    box-shadow: var(--shadow-border-input);
    height: 25px;
    padding: 0 5px;
}

.relax-input:focus {
    border: 1px solid hsl(24, 37%, 51%);
}

.relax-input::placeholder {
    color: hsl(0, 0%, 20%);
    text-shadow: none;
}

.relax-input:invalid {
    border: 1px solid hsl(5, 48%, 50%);
}

.relax-input:focus-within {
    border: 1px solid hsl(24, 37%, 51%);
}

.relax-button {
    background: var(--noise), var(--bg-button);
    border-color: hsl(24, 49%, 32%);
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    box-shadow: var(--shadow-border-2);
    color: hsl(0, 35%, 81%);
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 25px;
    line-height: 23px;
    margin: 5px 5px;
    outline: none;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 hsl(0, 0%, 0%);
    vertical-align: middle;
    white-space: nowrap;
}

.relax-button:hover {
    background: var(--noise), linear-gradient(hsl(24, 43%, 48%), hsl(25, 32%, 26%));
    color: hsl(0, 35%, 81%);
    text-decoration: none;
}

.map-page .relax-button {
    height: 22px;
    line-height: 21px;
    padding: 0 3px;
}

.map-page .relax-input {
    height: 22px;
    line-height: 21px;
    padding: 0 3px;
}

.relax-button.disabled {
    background: var(--noise), linear-gradient(hsl(24, 42%, 39%), hsl(25, 32%, 26%));
    filter: contrast(70%);
}

.relax-button.disabled:hover {
    cursor: default;
}

.relax-button.red {
    background: var(--noise), linear-gradient(hsl(0, 50%, 47%), hsl(0, 40%, 37%));
}

.relax-button.red:hover {
    background: var(--noise), linear-gradient(hsl(0, 53%, 55%), hsl(0, 40%, 37%));
}

.relax-button.green {
    background: var(--noise), linear-gradient(hsl(112, 48%, 43%), hsl(121, 56%, 23%));
}

.relax-button.green:hover {
    background: var(--noise), linear-gradient(hsl(112, 58%, 48%), hsl(121, 56%, 23%));
}

.flat-button {
    background: var(--noise) hsl(23, 25%, 20%);
    border-radius: 1px;
    border: 1px solid hsl(23, 6%, 39%);
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 67%, 17%), 2px 2px 2px hsl(0, 0%, 0%);
    color: hsl(36, 13%, 59%);
    margin: 2px 0;
    padding: 1px 4px;
    text-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.90);
}

.flat-button.selected {
    background: var(--noise) hsl(23, 25%, 20%);
}

.player-other-worlds .flat-button {
    margin: 2px 0;
    display: inline-block;
    background-color: hsl(23, 25%, 30%);
    color: hsl(36, 13%, 70%);
    font-weight: normal;
    text-decoration: none;
}

.player-other-worlds .flat-button.selected,
.player-other-worlds .flat-button:hover {
    border-color: hsl(24, 27%, 58%);
    background-color: hsl(23, 25%, 35%);
}

.section-content {
    background: var(--color-content);
    border-radius: 2px;
    border: 1px solid hsl(245, 16%, 27%);
    box-shadow: var(--shadow-border-1);
}

.relax-container {
    align-items: center;
    background: var(--color-content-layer-2);
    border-color: hsl(24, 27%, 58%);
    border-radius: 1px;
    border-style: outset;
    border-width: 2px;
    box-shadow: var(--shadow-border-2);
    color: hsl(17, 48%, 13%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 0;
    padding: 5px;
}

.relax-container > * {
    margin: 0 5px;
}

.market-list .title,
.world-list .title {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    width: 150px;
}

.market-list .toggle-list-worlds {
    height: 30px;
    line-height: 29px;
}

.market-list p,
.world-list p {
    margin: 0;
}

.world-list {
    width: 100%;
}

.world-list .label,
.world-list .value {
    white-space: nowrap;
}

.world-list .value {
    font-weight: bold;
}

.world-list .world {
    align-items: center;
    background: var(--noise) hsl(41, 67%, 86%);
    border-color: hsl(41, 45%, 81%);
    border-radius: 5px;
    border-style: inset;
    border-width: 1px;
    box-shadow: inset 1px 1px 2px hsl(41, 24%, 69%);
    color: hsl(17, 48%, 13%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0;
    padding: 2px 8px;
}

.world-list .world.closed {
    background-color: hsl(42, 36%, 71%);
}

.world-list .relax-button {
    background: var(--noise), linear-gradient(hsl(24, 42%, 39%), hsl(25, 32%, 26%));
    border-color: hsl(24, 49%, 32%);
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 67%, 17%);
    margin: 5px 0;
    padding: 0 8px;
}

.modal-container {
    background: var(--noise) hsl(23, 48%, 29%);
    border-radius: 1px;
    border: 1px solid hsl(23, 55%, 24%);
    box-shadow: 0 0 0 1px hsl(0, 0%, 0%), 0 0 0 2px hsl(23, 55%, 24%), 0 0 0 4px hsl(0, 0%, 0%), 2px 2px 5px 5px hsla(0, 0%, 0%, 0.95);
    color: hsl(0, 35%, 81%);
    left: 50%;
    padding: 3px;
    position: fixed;
    text-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.90);
    top: 50%;
    transform: translate(-50%, -50%);
    transition: visibility 0.02s linear, opacity 0.02s linear;
    z-index: 10;
}

.modal-container header {
    color: white;
    height: 25px;
    position: relative;
    text-align: center;
}

.modal-container header .close-wrapper {
    cursor: pointer;
    height: 26px;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    width: 26px;
}

.modal-container header .close-wrapper:hover {
    color: red;
}

.modal-container header .close-wrapper .close {
    vertical-align: middle;
}

.floating-modal {
    background: var(--noise) hsl(23, 48%, 29%);
    border-radius: 1px;
    border: 1px solid hsl(23, 55%, 24%);
    box-shadow: 0 0 0 1px hsl(0, 0%, 0%), 0 0 0 2px hsl(23, 55%, 24%), 0 0 0 4px hsl(0, 0%, 0%), 2px 2px 5px 5px hsla(0, 0%, 0%, 0.95);
    color: hsl(0, 35%, 81%);
    position: fixed;
    text-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.90);
    transition: opacity 0.1s;
    z-index: 15;
}

.floating-modal .floating-modal-body {
    padding: 5px;
}

.floating-modal .floating-modal-body > * {
    display: none;
}

.floating-modal .floating-modal-body > div.selected {
    display: initial;
}

.floating-modal .floating-modal-menu {
}

.floating-modal .floating-modal-menu button {
    margin: 5px;
}

.floating-modal .floating-modal-drag {
    background-image: linear-gradient(130deg, hsla(0, 0%, 0%, 0.15) 16.67%, hsla(0, 0%, 0%, 0) 16.67%, hsla(0, 0%, 0%, 0) 50%, hsla(0, 0%, 0%, 0.15) 50%, hsla(0, 0%, 0%, 0.15) 66.67%, hsla(0, 0%, 0%, 0) 66.67%, hsla(0, 0%, 0%, 0) 100%);
    background-size: 8px 9px;
    cursor: move;
    flex: 1;
    margin: 0 5px;
    user-select: none;
}

.floating-modal .floating-modal-close {
    height: 22px;
    width: 22px;
}

.floating-modal .floating-modal-header {
    display: flex;
    margin: initial;
    overflow: auto;
    padding: 5px;
}

.floating-modal .floating-modal-menu button.selected {
    background: var(--noise), linear-gradient(hsl(24, 43%, 48%), hsl(25, 32%, 36%));
}

.pagination {
    border-top: 1px solid hsl(40, 44%, 55%);
    padding: 3px 0;
    text-align: center;
    user-select: none;
}

.map-page .pagination {
    border-top: none;
}

.pagination .pages {
    display: inline;
}

.pagination .page {
    cursor: pointer;
    padding: 0 7px;
}

.pagination .current {
    font-weight: bold;
    border: 1px solid hsl(40, 44%, 44%);
    border-radius: 2px;
}

.map-page .pagination .current {
    border: 1px solid hsl(23, 43%, 40%);
}

.pagination .next,
.pagination .last {
    float: right;
}

.pagination .prev,
.pagination .first {
    float: left;
}

.pagination tr:hover td {
    background: initial;
}

.world-map {
    position: sticky;
    top: 0;
}

.conquest-gain,
.conquest-loss,
.conquest-self {
    border-radius: 7px;
    box-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.50);
    display: inline-block;
    height: 10px;
    width: 10px;
}

.conquest-gain {
    background: hsl(126, 71%, 44%) radial-gradient(circle at 70% 60%, hsl(126, 71%, 44%), hsl(126, 100%, 44%));
}

.conquest-loss {
    background: hsl(0, 100%, 44%) radial-gradient(circle at 70% 60%, hsl(0, 100%, 44%), hsl(0, 88%, 65%));
}

.conquest-self {
    background: hsl(57, 100%, 44%) radial-gradient(circle at 70% 60%, hsl(56, 100%, 50%), hsl(57, 100%, 44%));
}

.sub-menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sub-menu .item {
    background: var(--noise), linear-gradient(hsl(34, 73%, 31%), hsl(36, 48%, 65%));
    box-shadow: 0 0 0 1px hsl(28, 62%, 16%), 0 0 0 2px hsl(24, 49%, 52%), 0 0 0 3px hsl(17, 28%, 10%), inset 1px 1px 3px hsla(0, 0%, 100%, 0.40), inset -1px -1px 1px hsla(0, 0%, 0%, 0.40), 1px 1px 2px 3px hsla(0, 0%, 0%, 0.20);
    color: hsl(27, 22%, 8%);
    display: inline-block;
    font-weight: bold;
    margin: 5px 5px;
    min-width: 70px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.sub-menu .item.selected {
    background: var(--noise), linear-gradient(hsl(34, 73%, 31%), hsl(36, 55%, 55%));
    box-shadow: 0 0 0 1px hsl(28, 62%, 16%), 0 0 0 2px hsl(24, 79%, 64%), 0 0 0 3px hsl(17, 28%, 10%), inset 1px 1px 3px hsla(0, 0%, 100%, 0.40), inset -1px -1px 1px hsla(0, 0%, 0%, 0.40), 1px 1px 2px 3px hsla(0, 0%, 0%, 0.70);
    color: hsl(25, 26%, 9%);
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.20);
}

.sub-menu .item:hover {
    box-shadow: 0 0 0 1px hsl(28, 62%, 16%), 0 0 0 2px hsl(24, 79%, 64%), 0 0 0 3px hsl(17, 28%, 10%), inset 1px 1px 3px hsla(0, 0%, 100%, 0.40), inset -1px -1px 1px hsla(0, 0%, 0%, 0.40), 1px 1px 2px 3px hsla(0, 0%, 0%, 0.70);
}

.sub-menu .item.right {
    margin-left: auto;
}

.achievement-subject:after {
    color: hsl(24, 47%, 21%);
    content: ',';
}

.achievement-subject:last-child:after {
    content: initial;
}

.progress-bar-wrapper {
    background: var(--noise), linear-gradient(hsl(74, 49%, 16%), hsl(73, 49%, 19%));
    border-radius: 2px;
    border: 1px solid hsl(0, 0%, 4%);
    display: inline-block;
    height: 25px;
    margin: 2px 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.progress-bar {
    background: var(--noise), linear-gradient(hsl(74, 58%, 25%), hsl(75, 58%, 28%));
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.progress-text {
    color: white;
    height: 100%;
    line-height: 25px;
    position: absolute;
    text-shadow: 1px 1px 0 hsl(0, 0%, 0%);
    width: 100%;
}

.error {
    background-color: hsla(0, 78%, 63%, 0.35);
    border-radius: 3px;
    border: 2px solid hsl(0, 79%, 55%);
    padding: 10px;
    width: 100%;
}

.message {
    background: var(--noise) hsl(96, 53%, 77%);
    border-radius: 3px;
    border: 2px solid hsl(107, 28%, 49%);
    padding: 10px;
    width: 100%;
}

.warning {
    background: hsl(57, 100%, 50%);
    border-radius: 3px;
    border: 2px solid hsl(49, 100%, 50%);
    padding: 10px;
}

.box-border {
    border-radius: 1px;
    border: 1px solid hsl(23, 55%, 24%);
    box-shadow: inset 0 0 0 1px hsl(211, 14%, 32%), 0 0 0 1px hsl(0, 0%, 0%), 0 0 0 2px hsl(23, 55%, 24%), 0 0 0 4px hsl(0, 0%, 0%);
}

.navigation a {
    text-decoration: none;
}

.keep-color {
    color: hsl(24, 47%, 21%);
}

.icon-sort {
    background-image: url(/images/icons/down-arrow.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    display: inline-block;
    height: 9px;
    opacity: 0.5;
    width: 14px;
}

.icon-sort.selected {
    opacity: 1;
}

.notif {
    background: var(--noise) hsl(23, 74%, 12%);
    border-radius: 1px;
    border: 1px solid hsl(23, 6%, 39%);
    bottom: 40px;
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 67%, 17%), 2px 2px 5px hsl(0, 0%, 0%), inset 3px 3px 2px hsla(0, 0%, 100%, 0.10), inset -3px -3px 2px hsla(0, 0%, 0%, 0.10);
    color: hsl(38, 100%, 90%);
    max-height: 200px;
    max-width: 400px;
    min-width: 300px;
    padding: 2px 6px;
    position: absolute;
    right: 40px;
    text-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.90);
    transition: visibility 0.1s linear, opacity 0.1s linear, right 0.15s ease-out;
    z-index: 15;
}

.notif.invisible {
    right: -240px;
}

.notif .body {
    margin: 5px;
}

.notif .content {
    margin: 0;
    text-align: center;
    word-break: break-word;
}

.notif .title {
    border-bottom: 1px solid hsla(38, 100%, 90%, 0.50);
    margin: 3px;
    padding-bottom: 5px;
    text-align: center;
    text-shadow: 1px 1px 3px hsl(0, 0%, 0%);
}

.notif .link {
    display: inline-block;
    margin-top: 2px;
    text-align: center;
    width: 100%;
    word-break: break-word;
}

.notif .close {
    background: url(/images/icon-close.png);
    cursor: pointer;
    display: inline-block;
    height: 11px;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 11px;
}

.map-panel {
    background: url(/images/bg-side-bar-left.jpg) left repeat-y, url(/images/bg-side-bar-right.jpg) right repeat-y, url(/images/bg-side-bar-middle.jpg), hsl(23, 25%, 20%);
    box-shadow: 5px 0 6px hsla(0, 0%, 0%, 0.80);
    color: hsl(38, 100%, 90%);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    float: left;
    height: 100%;
    padding-left: 2px;
    padding-right: 7px;
    position: relative;
    width: 150px;
    z-index: 5;
}

.map-panel > * {
    display: flex;
    flex-direction: column;
}

.map-panel section {
    display: flex;
    margin-bottom: 4px;
}

.map-panel h1,
.map-panel h2 {
    text-align: center;
}

.map-panel .relax-button {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.map-panel .element {
    margin-right: 4px;
}

.map-panel .toggle {
    background: var(--noise) hsl(23, 25%, 20%);
    border-radius: 0 5px 5px 0;
    border: 1px solid hsl(23, 6%, 39%);
    bottom: 0;
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 67%, 17%), 5px 0 6px hsla(0, 0%, 0%, 0.80);
    height: 50px;
    margin: auto;
    position: absolute;
    right: -28px;
    top: 0;
    visibility: hidden;
    width: 22px;
    z-index: 9999;
}

.map-panel .toggle:after,
.map-panel .toggle.hide:after {
    color: hsl(36, 13%, 59%);
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.map-panel .toggle:after {
    content: '>';
}

.map-panel .toggle.hide:after {
    content: '<';
}

.map-panel .jump {
    flex-direction: row;
    margin-top: 3px;
}

.map-panel .jump .coords {
    color: hsl(29, 37%, 31%);
    display: inline-block;
    height: 22px;
    line-height: 22px;
    position: relative;
    text-align: center;
}

.map-panel .coords-x,
.map-panel .coords-y {
    background: none;
    border: none;
    text-align: center;
    width: 24px;
}

.map-panel .coords-go {
    display: inline-block;
    outline: none;
    vertical-align: top;
    width: 25%;
}

.map-panel .highlights {
    flex: 1;
    overflow-y: hidden;
    padding-bottom: 5px;
}

.map-panel .highlights-items {
    flex: 1;
    margin-right: 1px;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: hsl(27, 21%, 41%) transparent;
    scrollbar-width: thin;
    text-shadow: 1px 1px 0 hsl(0, 0%, 0%);
}

.map-panel .highlights-items .item {
    height: 26px;
    line-height: 16px;
}

.map-panel .highlights-items .item.tribes {
    order: 1;
}

.map-panel .highlights-items .item.players {
    order: 2;
}

.map-panel .highlights-items .item .name {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 96px;
}

.map-panel .highlights-items .item .name:hover {
    color: hsl(31, 87%, 65%);
}

.color-selector {
    background: var(--noise) hsl(29, 39%, 45%);
    border-radius: 1px;
    border: 1px solid hsl(24, 42%, 39%);
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 67%, 17%), 1px 1px 2px hsl(0, 0%, 0%);
    cursor: pointer;
    float: right;
    height: 10px;
    margin-right: 3px;
    margin-top: 5px;
    padding: 1px;
    position: relative;
    width: 11px;
}

.map-panel .highlights-items .item .villages {
    color: hsl(38, 28%, 64%);
    font-size: 0.9rem;
    line-height: 0;
    padding-left: 19px;
    width: 100%;
}

.map-panel .highlights-items::-webkit-scrollbar {
    width: 6px;
}

.map-panel .highlights-items::-webkit-scrollbar-track {
    background: transparent;
}

.map-panel .highlights-items::-webkit-scrollbar-thumb {
    background-color: hsl(27, 21%, 41%);
}

.map-panel .search input {
    padding: 0 8px;
}

.map-panel .search .results {
    background: var(--noise) top left hsl(32, 43%, 66%);
    box-shadow: inset 0 0 0 1px hsl(31, 46%, 22%), inset 0 0 0 2px hsl(32, 51%, 72%), 5px 5px 5px hsla(0, 0%, 0%, 0.80);
    color: hsl(0, 0%, 0%);
    left: 2px;
    line-height: 15px;
    margin-top: 27px;
    overflow: hidden;
    padding: 3px;
    position: absolute;
    right: 6px;
    text-overflow: ellipsis;
    z-index: 10;
}

.map-panel .search .no-results {
    opacity: 0.5;
}

.map-panel .search .result {
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    padding: 2px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.map-panel .search .result .icon {
    display: inline-block;
    height: 18px;
    line-height: 18px;
}

.map-panel .search .result:hover,
.map-panel .search .result.selected:hover {
    background-color: hsla(31, 68%, 87%, 0.66);
    color: hsl(31, 100%, 25%);
}

.map-panel .search .result.selected {
    background-color: hsla(31, 68%, 87%, 0.36);
    color: hsl(31, 100%, 25%);
}

.map-settings {
    padding: 3px;
    position: absolute;
    width: 200px;
    z-index: 7;
}

.map-settings .color-option {
    display: block;
    padding: 2px 0;
}

.map-panel .info {
    font-size: 0.9rem;
    margin-bottom: 2px;
    text-align: center;
}

.map-panel .info p {
    margin: 2px 0;
}

.map-panel .info a {
    cursor: pointer;
}

.map-page .ranking {
    border-radius: 3px;
    border: 1px solid hsl(23, 48%, 18%);
}

.map-page .wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.map-world-list {
    min-width: 260px;
    z-index: 7;
    padding-bottom: 10px;
}

.map-world-list .wrapper {
    display: flex;
    justify-content: space-around;
}

.map-world-list a {
    text-decoration: none;
}

.map-world-list h2 {
    margin: 5px;
    text-align: center;
    width: 100%;
}

.map-market-list {
    float: left;
    width: 67%;
}

.map-market-list .world {
    display: block;
    margin: 5px 1px;
    max-width: 131px;
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.map-market-list .world.selected {
    background: var(--noise), linear-gradient(hsl(23, 22%, 35%), hsl(25, 57%, 16%));
    border-color: hsl(25, 22%, 44%);
    font-weight: bold;
}

.map-market-list {
    width: 60px;
    text-transform: uppercase;
}

.map-market-list li {
    cursor: pointer;
}

.map-market-list div.market {
    margin: 3px 2px;
    text-align: center;
}

.map-market-list div.market.selected {
    background: hsl(23, 22%, 35%);
    border-color: hsl(24, 27%, 58%);
}

.map-market-list li:hover {
    background: hsl(23, 45%, 36%);
}

.map-market-worlds {
    text-align: center;
}

.map-market-worlds .world {
    width: 100%;
    margin: 2px;
    min-width: 150px;
}

.flex {
    display: flex;
}

.stretch {
    flex: 1;
}

.column {
    flex-direction: column;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

.loading {
    margin: auto;
    text-align: center;
}

.loading > div {
    animation: sk-bouncedelay 1s infinite ease-in-out both;
    background-color: hsl(30, 35%, 45%);
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.loading .b1 {
    animation-delay: -0.25s;
}

.loading .b2 {
    animation-delay: -0.1s;
}

.icon-border {
    background: linear-gradient(hsl(150, 4%, 10%), hsl(130, 4%, 30%));
    border: 1px solid hsl(0, 13%, 15%);
    display: inline-flex;
    height: 25px;
    justify-content: center;
    width: 26px;
}

.icon-villages {
    background: url(/images/icon-village.png) left center no-repeat;
    padding-left: 20px;
}

.icon-players {
    background: url(/images/icon-player.png) left center no-repeat;
    padding-left: 20px;
}

.icon-tribes {
    background: url(/images/icon-tribe.png) left center no-repeat;
    padding-left: 20px;
}

.icon-province {
    background: url(/images/icon-province.png) left center no-repeat;
    padding-left: 20px;
}

.icon-points {
    background: url(/images/icon-points.png) left center no-repeat;
    padding-left: 20px;
}

.icon-tribe-points {
    background: url(/images/icon-tribe-points.png) left center no-repeat;
    padding-left: 20px;
}

.color-picker {
    background: hsl(31, 44%, 34%);
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10;
}

.color-picker td {
    padding: 0;
    border: none;
}

.color-picker .color {
    border-radius: 1px;
    border: 1px solid hsl(24, 42%, 39%);
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 67%, 17%), 1px 1px 2px hsl(0, 0%, 0%);
    cursor: pointer;
    height: 20px;
    margin: 1px;
    width: 20px;
}

.color-picker .active {
    box-shadow: inset 0 0 0 1px hsla(120, 100%, 50%, 0.80), inset 0 0 0 2px hsla(0, 0%, 0%, 0.80), inset 0 0 0 3px hsla(120, 100%, 50%, 0.80), inset 0 0 0 4px hsla(0, 0%, 0%, 0.80);
}

.floating-ranking {
    min-width: 600px;
}

.floating-ranking tbody a {
    background: url(/images/icon-external-link.png) 97% center no-repeat, var(--noise), linear-gradient(hsl(24, 42%, 39%), hsl(25, 32%, 26%));
    border-radius: 3px;
    border: 1px solid hsl(28, 62%, 16%);
    box-shadow: none;
    display: inline-block;
    height: initial;
    padding: 1px 13px 1px 4px;
}

.floating-ranking tbody a:hover {
    border: 1px solid hsl(28, 92%, 10%);
    text-decoration: none;
}

.floating-ranking .highlight {
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}

.floating-ranking .highlight:hover {
    color: white;
}

.floating-ranking td {
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.floating-ranking th {
    color: hsl(22, 38%, 58%);
    max-width: 80px;
    overflow: hidden;
    padding: 5px 0 5px 10px;
    text-overflow: ellipsis;
}

.floating-ranking .sort {
    color: hsl(22, 58%, 58%);
    cursor: pointer;
}

.floating-ranking .sort:hover {
    color: hsl(22, 80%, 58%);
}

.floating-ranking .sort.selected::before {
    opacity: 1;
}

.floating-ranking .sort.reverse::before {
    transform: rotate(180deg);
}

.floating-ranking .sort::before {
    background-image: url(/images/icons/down-arrow.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    content: '';
    display: inline-block;
    height: 9px;
    margin-left: -9px;
    margin-top: 3px;
    opacity: 0;
    position: absolute;
    transform: rotate(0deg);
    width: 8px;
}

span[class^="flag-"] {
    background-image: url(/images/flags.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    line-height: 12px;
    padding-left: 20px;
    text-align: left;
}

.flag-de {
    background-position: 0 -448px;
}

.flag-en {
    background-position: 0 -64px;
}

.flag-fr {
    background-position: 0 -704px;
}

.flag-es {
    background-position: 0 -736px;
}

.flag-it {
    background-position: 0 -640px;
}

.flag-gr {
    background-position: 0 -96px;
}

.flag-nl {
    background-position: 0 -32px;
}

.flag-ro {
    background-position: 0 -320px;
}

.flag-se {
    background-position: 0 -384px;
}

.flag-cz {
    background-position: 0 -128px;
}

.flag-pl {
    background-position: 0 -544px;
}

.flag-hu {
    background-position: 0 -480px;
}

.flag-sk {
    background-position: 0 -160px;
}

.flag-dk {
    background-position: 0 -576px;
}

.flag-no {
    background-position: 0 -512px;
}

.flag-pt {
    background-position: 0 -192px;
}

.flag-jp {
    background-position: 0 -1056px;
}

.flag-ru {
    background-position: 0 -256px;
}

.flag-br {
    background-position: 0 -352px;
}

.flag-tr {
    background-position: 0 -672px;
}

.flag-ch {
    background-position: 0 -416px;
}

.flag-kr {
    background-position: 0 -224px;
}

.flag-ae {
    background-position: 0 -800px;
}

.flag-bg {
    background-position: 0 0;
}

.flag-th {
    background-position: 0 -1088px;
}

.flag-ba {
    background-position: 0 -608px;
}

.flag-fi {
    background-position: 0 -768px;
}

.flag-hr {
    background-position: 0 -992px;
}

.flag-il {
    background-position: 0 -928px;
}

.flag-lt {
    background-position: 0 -896px;
}

.flag-si {
    background-position: 0 -864px;
}

.flag-us {
    background-position: 0 -1120px;
}

.flag-id {
    background-position: 0 -960px;
}

.flag-uk {
    background-position: 0 -832px;
}

.flag-ts {
    background-position: 0 -1024px;
}

.flag-zz,
.flag-xx {
    background-position: 0 -1152px;
}

.flag-ar {
    background-position: 0 -1217px;
}

.flag-mx {
    background-position: 0 -1184px;
}

.map-page .map {
    height: 100%;
    width: 100%;
    box-shadow: none;
}

.map-wrapper {
    height: 80vh;
    overflow: hidden;
}

.map {
    background: hsl(84, 68%, 23%);
    box-shadow: 0 0 0 1px hsl(23, 55%, 24%), 0 0 0 2px hsl(23, 47%, 36%), 2px 2px 4px hsla(0, 0%, 0%, 0.50);
    touch-action: none;
    user-select: none;
}

.map .map-info {
    bottom: 2px;
    left: 4px;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#tribes .top-colors {
    background-image: var(--noise);
    border-radius: 1px;
    border: 1px solid hsl(24, 42%, 39%);
    box-shadow: 0 0 0 1px hsl(23, 67%, 17%), inset 0 0 0 1px hsl(23, 67%, 17%), 1px 1px 2px hsl(0, 0%, 0%);
    display: inline-block;
    height: 8px;
    position: relative;
    width: 8px;
}

#map-tooltip {
    background: var(--color-content);
    font-size: 12px;
    left: 0;
    margin-top: 3px;
    opacity: 0;
    padding: 3px;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: all 0.2s;
    visibility: hidden;
    width: 370px;
    z-index: 5;
}

#map-tooltip table {
    background: var(--noise) hsl(31, 45%, 67%);
    border-spacing: 1px;
    box-shadow: 0 0 0 2px hsla(26, 100%, 24%, 0.66);
    width: 100%;
}

#map-tooltip td {
    background: var(--noise) hsl(30, 36%, 60%);
    border: 1px solid hsl(32, 33%, 48%);
    box-shadow: none;
    padding: 1px;
    text-align: left;
}

#map-tooltip td > div {
    height: 25px;
}

#map-tooltip .values {
    display: inline-block;
    height: 24px;
    vertical-align: top;
    width: 141px;
}

#map-tooltip .title {
    color: hsla(0, 0%, 0%, 0.95);
    display: block;
}

#map-tooltip .overflow {
    max-width: 100%;
}

#map-tooltip.left {
    left: -380px;
}

#map-tooltip.top {
    top: -120px;
}

#map-tooltip span,
#map-tooltip div > div {
    line-height: 13px;
    white-space: nowrap;
}

#map-tooltip .overflow {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

#map-tooltip .village-name {
    max-width: calc(100% - 50px);
}

#languages-page a {
    text-decoration: none;
}

#languages-page .lang {
    display: inline-block;
    font-size: 1.1rem;
    margin: 5px;
    padding: 10px;
}

#languages-page .lang:hover {
    background: var(--noise) hsl(43, 100%, 94%);
}

#languages-page .lang span {
    padding-left: 30px;
}

#language-list {
    width: 200px;
}

#language-list a {
    border-bottom-color: hsla(0, 0%, 0%, 0.25);
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    color: hsl(18, 53%, 85%);
    display: block;
    padding: 5px 10px;
}

#language-list a:hover {
    background: hsla(0, 0%, 100%, 0.08);
    color: hsl(0, 0%, 100%);
}

#language-list a:last-child {
    border-bottom: none;
}

#language-list span[class^="flag-"] {
    padding-left: 30px;
}

#language-list h2 {
    margin: 0;
}

.history-change-type {
    display: inline-block;
    width: 11px;
}

.history-change-type.equal::after {
    content: '=';
    color: hsl(39, 25%, 45%);
}

.history-change-type.increase::after {
    content: '+';
    color: hsl(120, 63%, 35%);
}

.history-change-type.decrease::after {
    content: '−';
    color: hsl(0, 100%, 50%);
}

.player-profile > .left,
.tribe-profile > .left {
    flex-basis: 25%;
}

.conquests > .left {
    flex-basis: 50%;
}

.world-home > .left {
    flex-basis: 20%;
}

/* profile charts */

.ct-label.ct-horizontal.ct-end {
    white-space: nowrap;
}

.ct-series-a .ct-area {
    fill: hsl(18, 59%, 42%);
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
    stroke: hsl(18, 59%, 43%);
}

.ct-label {
    color: inherit;
    opacity: 1;
    font-size: .75rem;
    line-height: 1;
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.0);
    }
}

@media (max-width: 800px) {
    body {
        padding: 1px 0;
    }

    .map-page body {
        width: 100%;
        padding: 0 0;
    }

    .map-panel .toggle {
        visibility: visible;
    }

    .map-panel.away {
        margin-left: -150px;
    }

    .map.full {
        margin-left: 0;
    }

    #main-header {
        height: 8rem;
        background-size: 25em;
        margin-bottom: 10px;
        filter: drop-shadow(10px 10px 12px hsla(0, 0%, 0%, 0.90));
    }

    .content {
        flex-direction: column;
    }

    .content > * + * {
        margin-left: initial;
    }

    main {
        padding: 5px;
    }

    table td.limit-size {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 24vw;
    }

    table th {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 20vw;
    }

    #main-menu {
        margin-bottom: 5px;
        padding-left: 0;
        padding-right: 0;
    }

    #main-menu a {
        padding: 5px 3px;
        border-radius: 1px;
        margin: 5px 5px;
    }

    #main-menu .icon {
        height: 13px;
        background-size: 12px;
    }

    #worlds-sync fieldset {
        display: block;
    }

    .market-list .title,
    .world-list .title {
        width: 100%;
    }

    .market-list .relax-button,
    .world-list .relax-button {
        display: block;
        margin: 5px 0;
    }

    .world-list .label,
    .world-list .value {
        display: block;
    }

    .world-list .value {
        margin-left: 5px;
    }

    .relax-container > * {
        margin: 0 1px;
    }

    .color-picker {
        transform: initial !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 366px;
        height: 132px;
    }
}
