<section class="player-charts">
    <h2>Charts</h2>

    <div class="section-content">
        <ul class="content-menu" id="chart-selector">
           <li data-chart-type="points"><%= i18n('chart_points', 'player_profile') %></li>
           <li data-chart-type="bash_points_off"><%= i18n('chart_bash_points_offense', 'player_profile') %></li>
           <li data-chart-type="bash_points_def"><%= i18n('chart_bash_points_defense', 'player_profile') %></li>
           <li data-chart-type="villages"><%= i18n('chart_villages', 'player_profile') %></li>
        </ul>
        <div class="wrapper">
            <div class="ct-chart"></div>
        </div>
    </div>
</section>

<script type="text/javascript" src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script type="text/javascript" src="/javascripts/charts.js"></script>
