<div class="left">
    <h2><%= i18n('header_' + category, 'world_ranking', lang) %></h2>

    <div class="content-border">
        <%- include('ranking/' + category + '.ejs') %>
        <%- include('../pagination.ejs') %>
    </div>
</div>

<div class="right">
    <%- include('./map.ejs') %>
</div>
