[Unit]
Description=Systemd tw2tracker unit
After=network.target

[Service]
Environment=PORT=3000
Environment=TZ=UTC
Environment=NODE_ENV=${tw2tracker.environment}
Type=simple
${tw2tracker.user}
WorkingDirectory=${tw2tracker.directory}
ExecStart=npm start
Restart=always

[Install]
WantedBy=default.target
