<div class="content">
    <div class="left">
        <section id="login">
            <h1>Admin login</h1>

            <div class="content-border">
                <form action="/admin/login" method="POST">
                    <label class="input">
                        <span><%= i18n('username_label', 'admin', lang) %></span>
                        <input type="text" class="relax-input" name="username" required>
                    </label>
                    <label class="input">
                        <span><%= i18n('password_label', 'admin', lang) %></span>
                        <input type="password" class="relax-input" name="password" required>
                    </label>

                    <div class="actions">
                        <input type="submit" value="<%= i18n('button_login', 'admin', lang) %>" class="relax-button">
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div class="right"></div>

    <script defer type="text/javascript">
        document.querySelector('[name=username]').focus()
    </script>
</div>
