<div class="left">
    <h2><%= navigationTitle %></h2>

    <table class="content-border">
        <colgroup>
            <col width="*">
            <col width="150px">
        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th>Unlocked on</th>
            </tr>
        </thead>
        <tbody>
            <% for (let achievement of achievementByCategory.repeatable) { %>
                <tr>
                    <td><%= achievementTitles[achievement.type] %></td>
                    <td><%= formatDate(achievement.time_last_level, 'day-only') %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
